.worksheet .body {
  padding-left: 16px;
  padding-right: 16px;
}
.worksheet .body .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
  padding: 0;
}
.worksheet .body .footer img {
  width: 120px;
}
.worksheet section.color-primary {
  margin-bottom: 72px;
}
.worksheet section.color-primary .title strong {
  color: var(--color-primary-400);
}
.worksheet section.color-primary .title img {
  top: 18px;
  right: 0px;
  width: 274px;
}
.worksheet section.color-primary .box-header {
  background-color: var(--color-primary-400);
}
.worksheet section.color-secondary .title strong {
  color: var(--color-secondary);
}
.worksheet section.color-secondary .title img {
  top: 14px;
  right: 18px;
  width: 328px;
}
.worksheet section.color-secondary .box-header {
  background-color: var(--color-secondary);
}
.worksheet section.color-secondary .box .item {
  position: relative;
}
.worksheet .title {
  overflow: hidden;
  position: relative;
  height: 188px;
  padding: 36px 32px 40px;
}
.worksheet .title strong {
  font-size: 20px;
}
.worksheet .title p {
  margin-top: 8px;
}
.worksheet .title img {
  position: absolute;
}
.worksheet .box:not(:last-child) {
  margin-bottom: 32px;
}
.worksheet .box-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 13px 32px;
}
.worksheet .box-header h4 {
  color: #fff;
  line-height: 1;
}
.worksheet .box-header .badge {
  pointer-events: none;
}
.worksheet .box-body {
  padding: 32px;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}
.worksheet .box .items {
  display: flex;
  gap: 8px;
  align-items: center;
}
.worksheet .box .items .img-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  background-color: var(--color-primary-400);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}
.worksheet .box .items .item-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  background: #fff;
  border-radius: 4px;
  border: 2px solid var(--color-primary-400);
}
.worksheet .box .items .item-header h4 {
  color: var(--color-primary-400);
}
.worksheet .box .items .item-header::before {
  position: absolute;
  content: "";
  bottom: -6px;
  left: calc(50% - 6px);
  width: 12px;
  height: 12px;
  background-color: white;
  clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
  transform: rotate(135deg);
  border: 2px solid var(--color-primary-400);
}
.worksheet .box .items .divider-group {
  width: 100%;
  justify-content: center;
}
.worksheet .box .items .divider-group .button {
  display: inline-flex;
  min-width: 78px;
  border: none;
}
.worksheet .box .unit-item {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-primary-200);
}
.worksheet .box .unit-item h4 {
  color: #626262;
}