img{
	border: 0px;
}
.us-layout-secure-mail-default
{
	text-align:center;
	font-size:12px;
	font-family:malgun gothic, dotum, arial;
	display:block;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.us-layout-secure-mail
{
	width:390px;
	text-align:center;
	display:none;
	position:absolute;
	-moz-user-select:none;
}

.us-layout-secure-mail-main
{
	width:390px;
	height: 275px;
	overflow: hidden;
	text-align:center;
	background-color:#e9e9e9;
	display:block;
}

.us-layout-secure-mail-title
{
	width:390px;
	height:25px;
	background-color:#336699;
	display:block;
	cursor:move;
}

.us-layout-secure-mail-title-tbl-left
{
	width:230px;
	text-align:left;
	vertical-align:top;
	padding: 0;
}

.us-layout-secure-mail-lbl-title
{
	width:100%;
	height:12px;
	margin-left:5px;
	font-size:12px;
	font-family:malgun gothic, dotum, arial;
	color:#ffffff;
}

.us-layout-secure-mail-title-tbl-right
{
	width:230px;
	text-align:right;
	padding: 0;
}

.us-layout-secure-mail-cls-btn
{
	width:16px;
	height:16px;
	margin:3px 5px 0px 5px;
	padding:0px 0px 0px 0px;
	border:0.0px;
	cursor:pointer;
	background-color:#fff;
}

.us-layout-secure-mail-content
{
	font-size:12px;
	font-family:malgun gothic, dotum, arial;
	padding-left: 25px;
	text-align: left;
}
.us-div-secure-mail-input-lock{
	float: left;
	margin: 0;
	padding: 0;
}
.us-div-secure-mail-input-lock img{
	margin-top: 4px;
}
.us-div-secure-mail-input
{
	margin: 15px auto;
	width: 295px;
	font-size: 12px;
	font-family:malgun gothic, dotum, arial;
	overflow: auto;
	overflow-y: hidden;
}

.us-div-secure-mail-input-lbl
{
	text-align: left;
	margin-bottom: 2px;
}
.us-div-secure-mail-input-contain
{
	float: left;
	text-align: left;
	margin-top: 5px;
	margin-left: 15px;
	
}
.us-div-secure-mail-input .password
{
	border: 1px solid #ccc;
	width: 93%;
	height: 18px;
	padding: 2px;
	text-align: left;
}

.us-layout-secure-mail-logo
{
	width:390px;
	height:85px;
	margin:15px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	display:block;
}

.us-layout-secure-mail-hidden
{
	width:0px;
	height:0px;
	border:0.0px;
	display:hidden;
}

.us-layout-secure-mail-btns
{
	width: 390px;
	height:18px;
	margin: 10px 0;
	padding:5px 0px 0px 0px;
	vertical-align:middle;
}

.us-layout-secure-mail-btn
{
	width:60px;
	font-size:12px;
	font-family:malgun gothic, dotum, arial;
	color:#000;
	margin: 0 35px;
	text-shadow: -1px -1px 1px #fff;
	border:1px solid #9b9b9b;
	background:#f2f2f2;
	-webkit-box-shadow: 2px 3px  0px #d5d5d5; 
	-moz-box-shadow: 2px 3px  0px  #d5d5d5;
	box-shadow: 2px 3px  0px  #d5d5d5;
	cursor:pointer;
}