<div id="m-us-div-cert-manage" class="m-us-layout-cert-select" oncontextmenu="return false" onselectstart="return false">
    <div class="m-us-layout-title">
        <p id="m-us-cert-manage-lbl-title" class="m-us-layout-lbl-title"> </p>        
    </div>
	<div class="m-us-layout-mid">
        <div class="m-us-layout-storage">
            <fieldset class="m-us-layout-storage-border">
                <!--legend id="m-us-legend-cert-manage-storage"> </legend-->
                <div id="m-us-cert-manage-storage-wrap" class="m-us-layout-storage-wrap">    
                    <ul id="m-us-cert-manage-storage-btn-list"> </ul>
                    <div id="m-us-storage-more" class="m-us-layout-storage-more">
                        <button id="m-us-cert-manage-storage-more-btn" class="m-us-layout-storage-more-btn" type="button">
                        	<img id="m-us-cert-manage-storage-more-btn-img" />
                        </button>
                    </div>
                </div>    
            </fieldset>
        </div>
        <div class="m-us-layout-list">
            <div id="m-us-div-cert-manage-list-inner" class="m-us-layout-list-inner"> </div>
        </div>
        <div id="m-us-cert-manage-div-cert" class="m-us-layout-cert">
            <div id="m-us-cert-manage-div-btns" class="m-us-layout-btns">
                <ul>
	                <li><input id="m-us-cert-manage-sub-get-cert-btn" class="m-us-layout-normal-btn bstyle-btn" type="button" /></li>
                    <li><input id="m-us-cert-manage-sw-info-btn" class="m-us-layout-normal-btn" type="button" /></li>
                </ul>
            </div>
            <p id="m-us-cert-manage-lbl-notice" class="m-us-layout-lbl-notice"> </p>
        </div>
	</div>
    <button id="m-us-cert-manage-cls-img-btn" class="m-us-layout-cls-btn" type="button"><img id="m-us-cert-manage-cls-btn-img" /></button>        
    <div class="m-us-layout-hidden">
        <input id="m-us-cert-manage-file-search-hidden" class="m-us-layout-file-search-hidden" type="file" accept="application/x-pkcs12" />
    </div>
</div>