<div id="m-us-div-cert-revoke" class="m-us-layout-cert-revoke" oncontextmenu="return false" onselectstart="return false">
    <div id="m-us-div-cert-revoke-title" class="m-us-layer-title">
        <p id="m-us-cert-revoke-lbl-title" class="m-us-layer-lbl-title"></p>
    </div>  
	<div class="m-us-layer-sbody">
	    <div class="m-us-layout-cert-revoke-notice-wrap">
            <p id="m-us-div-cert-revoke-notice-lbl" class="m-us-layout-cert-revoke-text"></p>
		</div>
	    <div class="m-us-layout-cert-revoke-select">
            <ul>
                <li><a href="#none" id="m-us-cert-revoke-a-1"><span id="m-us-cert-revoke-radio-title-1"></span></a></li>
                <li><a href="#none" id="m-us-cert-revoke-a-2"><span id="m-us-cert-revoke-radio-title-2"></span></a></li>
                <li><a href="#none" id="m-us-cert-revoke-a-3"><span id="m-us-cert-revoke-radio-title-3"></span></a></li>
            </ul>
	    </div>
        <div class="m-us-layer-btns">
            <input id="m-us-cert-revoke-cancel-btn" class="m-us-layout-confirm-btn" type="button" />
        </div>           
	</div>
    <button id="m-us-cert-revoke-cls-btn" class="m-us-layer-cls-btn" type="button"><img id="m-us-cert-revoke-cls-btn-img" /></button>
</div>