<div id="m-us-div-cert-issue" class="m-us-layout-cert-issue" oncontextmenu="return false" onselectstart="return false">
    <div id="m-us-div-cert-issue-title" class="m-us-layer-title">
        <p id="m-us-cert-issue-lbl-title" class="m-us-layer-lbl-title"></p>
    </div>  
	<div class="m-us-layer-sbody">
	    <div class="m-us-layout-cert-issue-notice">
	    	<p id="m-us-cert-issue-notice-lbl" class="m-us-layout-cert-issue-notice-lbl"></p>
	    </div>
	    <div class="m-us-layout-cert-issue-input">
        	<dl>
            	<dt><label id="m-us-cert-issue-ref-number-lbl" class="m-us-layout-cert-issue-lbl" for="m-us-cert-issue-ref-number-textbox"> </label></dt>
                <dd><input id="m-us-cert-issue-ref-number-textbox" class="m-us-layout-cert-issue-textbox" type="text" /></dd>
			</dl>
        	<dl>
            	<dt><label id="m-us-cert-issue-auth-code-lbl" class="m-us-layout-cert-issue-lbl" for="m-us-cert-issue-auth-code-textbox"> </label></dt>
                <dd><input id="m-us-cert-issue-auth-code-textbox" class="m-us-layout-cert-issue-textbox" type="text" /></dd>
			</dl>
        </div>        
        <div class="m-us-layer-btns">
			<input id="m-us-cert-issue-confirm-btn" class="m-us-layout-confirm-btn bstyle" type="button" />
        </div>          
	</div>
    <button id="m-us-cert-issue-cls-img-btn" class="m-us-layer-cls-btn" type="button"><img id="m-us-cert-issue-cls-btn-img" /></button>    
</div>
