<div id="m-us-div-cert-processing" class="m-us-layout-cert-processing" oncontextmenu="return false" onselectstart="return false">
    <div class="m-us-layout-cert-processing-img-wrap">
        <div class="m-us-layout-cert-processing-img">
            <div id="m-us-rotate-01"></div>
            <div id="m-us-rotate-02"></div>
            <div id="m-us-rotate-03"></div>
            <div id="m-us-rotate-04"></div>
            <div id="m-us-rotate-05"></div>
            <div id="m-us-rotate-06"></div>
            <div id="m-us-rotate-07"></div>
            <div id="m-us-rotate-08"></div>
        </div>
    </div>
    <p id="m-us-cert-processing-text" class="m-us-layout-cert-processing-text"></p>
</div>