<div id="m-us-div-change-password" class="m-us-layout-change-password" oncontextmenu="return false" onselectstart="return false">
    <div id="m-us-div-change-password-title" class="m-us-layer-title">
        <p id="m-us-change-password-lbl-title" class="m-us-layer-lbl-title"> </p>
    </div>
	<div class="m-us-layer-sbody">
	    <div class="m-us-layout-change-password-notice">
            <div class="m-us-layout-change-password-img">
                <img id="m-us-change-password-lock-img" />
            </div>
            <div class="m-us-layout-change-notice">
                <p id="m-us-change-password-notice-text" class="m-us-layout-change-password-notice-text"> </p>
                <p id="m-us-change-password-notice-text2" class="m-us-layout-change-password-notice-text2"> </p>
            </div>
		</div>
	    <div class="m-us-layout-change-password-input">
        	<dl>
            	<dt><label id="m-us-change-password-origin-lbl" class="m-us-layout-change-password-input-lbl" for="m-us-change-password-origin-textbox"> </label></dt>
                <dd class="m-us-line-style1"><input id="m-us-change-password-origin-textbox" class="m-us-layout-change-password-input-textbox" type="password" /></dd>
			</dl>
        	<dl>
            	<dt class="password-bold-title"><label id="m-us-change-password-new-first-lbl" class="m-us-layout-change-password-input-lbl" for="m-us-change-password-new-first-textbox"> </label></dt>
                <dd class="m-us-line-style2"><input id="m-us-change-password-new-first-textbox" class="m-us-layout-change-password-input-textbox" type="password" /></dd>
			</dl>
        	<dl>
            	<dt class="password-bold-title"><label id="m-us-change-password-new-second-lbl" class="m-us-layout-change-password-input-lbl" for="m-us-change-password-new-second-textbox"> </label></dt>
                <dd class="m-us-tpd10"><input id="m-us-change-password-new-second-textbox" class="m-us-layout-change-password-input-textbox" type="password" /></dd>
			</dl>
        </div>
	    <div class="m-us-layout-change-password-warning">
	    	<div id="m-us-change-password-warning-text" class="m-us-layout-change-password-warning-text"> </div>
	    </div>
        <div class="m-us-layout-btns">
            <ul>
                <li class="m-us-talign-r"><input id="m-us-change-password-confirm-btn" class="m-us-normal-btn2 bstyle-btn" type="button" /></li>
                <li><input id="m-us-change-password-cancel-btn" class="m-us-normal-btn2" type="button" /></li>
            </ul>
        </div>        
	</div>
    <button id="m-us-change-password-cls-img-btn" class="m-us-layer-cls-btn" type="button"><img id="m-us-change-password-cls-btn-img" /></button>
</div>