<div id="m-us-div-confirm" class="m-us-layout-cert-verify" oncontextmenu="return false" onselectstart="return false">
    <div id="m-us-div-confirm-title" class="m-us-layer-title">
        <p id="m-us-confirm-lbl-title" class="m-us-layer-lbl-title"></p>
    </div>   
    <div class="m-us-layer-sbody">
	    <div class="m-us-layout-cert-verify-noti">
            <p id="m-us-confirm-lbl" class="m-us-layout-cert-verify-noti-lbl"></p>
		</div>   
        <div class="m-us-layer-btns">
        	<ul>
            	<li><input id="m-us-confirm-confirm-btn" class="m-us-layout-confirm-btn bstyle" type="button" /></li>
            	<li><input id="m-us-confirm-cancel-btn" class="m-us-layout-confirm-btn" type="button" /></li>
            </ul>
        </div>          
	</div>
    <button id="m-us-confirm-cls-img-btn" class="m-us-layer-cls-btn" type="button"><img id="m-us-confirm-cls-btn-img" /></button>
</div>