<div id="m-us-div-new-password" class="m-us-layout-new-password" oncontextmenu="return false" onselectstart="return false">
    <div id="m-us-div-new-password-title" class="m-us-layer-title">
        <p id="m-us-new-password-lbl-title" class="m-us-layer-lbl-title"> </p>
    </div>  
	<div class="m-us-layer-sbody">
	    <div class="m-us-layout-change-password-notice">
            <div class="m-us-layout-change-password-img">
                <img id="m-us-new-password-lock-img" src="img/m_password-lock-img.png" />
            </div>
            <div class="m-us-layout-change-notice">
                <p id="m-us-new-password-notice-text" class="m-us-layout-change-password-notice-text"> </p>
                <p id="m-us-new-password-notice-text2" class="m-us-layout-change-password-notice-text2"> </p>
            </div>
		</div>    
	    <div class="m-us-layout-new-password-input">
        	<dl>
            	<dt><label id="m-us-new-password-first-lbl" class="m-us-layout-new-password-input-lbl" for="m-us-new-password-first-textbox"> </label></dt>
                <dd><input id="m-us-new-password-first-textbox" class="m-us-layout-new-password-input-textbox" type="password" /></dd>
			</dl>
        	<dl>
            	<dt><label id="m-us-new-password-second-lbl" class="m-us-layout-new-password-input-lbl" for="m-us-new-password-second-textbox"> </label></dt>
                <dd><input id="m-us-new-password-second-textbox" class="m-us-layout-new-password-input-textbox" type="password" /></dd>
			</dl>
        </div>
	    <div class="m-us-layout-new-password-warning">
	    	<div id="m-us-new-password-warning-text" class="m-us-layout-new-password-warning-text"> </div>
	    </div>    
        <div class="m-us-layout-btns">
            <ul>
                <li class="m-us-talign-r"><input id="m-us-new-password-confirm-btn" class="m-us-normal-btn2 bstyle-btn" type="button" /></li>
                <li><input id="m-us-new-password-cancel-btn" class="m-us-normal-btn2" type="button" /></li>
            </ul>
        </div>     
	</div>
    <button id="m-us-new-password-cls-img-btn" class="m-us-layer-cls-btn" type="button"><img id="m-us-new-password-cls-btn-img" /></button>        
</div>