<div id="m-us-div-notice" class="m-us-layout-cert-verify" oncontextmenu="return false" onselectstart="return false">
    <div id="m-us-div-notice-title" class="m-us-layer-title">
        <p id="m-us-notice-lbl-title" class="m-us-layer-lbl-title"></p>
    </div>   
    <div class="m-us-layer-sbody">
	    <div class="m-us-layout-cert-verify-noti">
            <p id="m-us-notice-lbl" class="m-us-layout-cert-verify-noti-lbl"></p>
		</div>   
        <div class="m-us-layer-btns">
            <input id="m-us-notice-confirm-btn" class="m-us-layout-confirm-btn bstyle" type="button" />
        </div>          
	</div>
    <button id="m-us-notice-cls-img-btn" class="m-us-layer-cls-btn" type="button"><img id="m-us-notice-cls-btn-img" /></button>
</div>