<div id="m-us-div-password-check" class="m-us-layout-password-check" oncontextmenu="return false" onselectstart="return false">
    <div id="m-us-div-password-check-title" class="m-us-layer-title">
        <p id="m-us-password-check-lbl-title" class="m-us-layer-lbl-title"> </p>
    </div>
	<div class="m-us-layer-sbody">
	    <div class="m-us-layout-password-notice-wrap">
            <p id="m-us-layout-password-check-text" class="m-us-layout-password-check-text"> </p>
		</div>   
        <div class="m-us-password-check">
            <!--p id="m-us-password-check-text1" class="txt"></p-->
            <ul>
                <li id="m-us-password-check-rule1" class=""> </li>
                <li id="m-us-password-check-rule2" class=""> </li>
                <li id="m-us-password-check-rule3" class="check"> </li>
                <li id="m-us-password-check-rule4" class="check"> </li>
                <li id="m-us-password-check-rule5" class="check"> </li>
            </ul>
        </div>
        <div class="m-us-layer-btns">
            <input id="m-us-password-check-confirm-btn" class="m-us-layout-confirm-btn bstyle" type="button" />
        </div>           
	</div>
    <button id="m-us-password-check-cls-btn" class="m-us-layer-cls-btn" type="button"><img id="m-us-password-check-cls-btn-img" /></button>
</div>