<div id="m-us-div-ssn" class="m-us-layout-ssn" oncontextmenu="return false" onselectstart="return false">
    <div id="m-us-div-ssn-title" class="m-us-layer-title">
        <p id="m-us-ssn-lbl-title" class="m-us-layer-lbl-title"></p>
    </div> 
	<div class="m-us-layer-sbody">
	    <div class="m-us-layout-ssn-input">
        	<dl>
            	<dt><label id="m-us-ssn-input-text" class="m-us-layout-ssn-input-text" for="m-us-ssn-input-textbox"></label></dt>
                <dd><input id="m-us-ssn-input-textbox" class="m-us-layout-ssn-input-textbox" type="password" /></dd>
			</dl>        
	    </div>
	    <div class="m-us-layout-ssn-notice">
	    	<div id="m-us-ssn-notice-text" class="m-us-layout-ssn-notice-text"></div>
	    </div>              
        <div class="m-us-layout-btns">
            <ul>
                <li class="m-us-talign-r"><input id="m-us-ssn-confirm-btn" class="m-us-normal-btn2 bstyle-btn" type="button" /></li>
                <li><input id="m-us-ssn-cancel-btn" class="m-us-normal-btn2" type="button" /></li>
            </ul>
        </div>            
	</div>
    <button id="m-us-ssn-cls-btn" class="m-us-layer-cls-btn" type="button"><img id="m-us-ssn-cls-btn-img" /></button>
</div>