<div id="m-us-div-storage-select" class="m-us-layout-storage-select" oncontextmenu="return false" onselectstart="return false">
    <div id="m-us-div-storage-select-title" class="m-us-layer-title">
        <p id="m-us-storage-select-lbl-title" class="m-us-layer-lbl-title"></p>
    </div> 
	<div class="m-us-layer-sbody">
    	<div class="m-us-layout-storage-select-notice-wrap">
	    	<p id="m-us-storage-select-notice-lbl" class="m-us-layout-storage-select-notice-lbl"></p>
        </div>
        <div class="m-us-layout-storage-select-list">   
            <ul id="m-us-btn-storage-btn-list"> </ul>
        </div>
	    <div class="m-us-layout-storage-select-warning">
	    	<div id="m-us-storage-select-warning-lbl" class="m-us-layout-storage-select-warning-lbl"></div>
	    </div>           
        
        <div class="m-us-layer-btns">
            <input id="m-us-storage-select-cancel-btn" class="m-us-layout-confirm-btn" type="button" />
        </div>          
	</div>
    <button id="m-us-storage-select-cls-img-btn" class="m-us-layer-cls-btn" type="button"><img id="m-us-storage-select-cls-btn-img" /></button>
</div>