<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	
	<title>모바일 인증서 가져오기</title>
	<link rel="stylesheet" type="text/css" href="..//assets/pc/css/m_certcommon.css?v=1" />
	<!--link rel="stylesheet" type="text/css" href="..//assets/pc/css/m_certstyle.css?v=1" /-->
</head>
<body>
	<div id="m-us-div-cert-result" class="m-us-layout-cert-result" oncontextmenu="return false" onselectstart="return false">
		<div id="m-us-result-inner" class="m-us-layout-result-inner">
	        <p class="m-us-result-icon"><img id="m-us-result-icon" /> </p>
	        <p id="m-us-result-tit" class="m-us-result-tit"> </p>
	        <p id="m-us-result-tit2" class="m-us-result-tit2"> </p>
		</div>			
	</div>
	
	
	<!--script type="text/javascript" src="../../../../js/unisignwebclient.js?v=1"></script-->
	<script type="text/javascript">
		function getQueryVariable(variable) {
			var query = window.location.search.substring(1);
			var vars = query.split("&");
			for (var i=0; i<vars.length; i++) {
				if(0 < vars[i].indexOf("=")) {
					if(variable == vars[i].substring(0, vars[i].indexOf("="))) {
						return vars[i].substring(vars[i].indexOf("=")+1, vars[i].length);
					}
				}
			}
			return null;
		}
		
		var currentUrl = window.location.href;
		var rootUrl = currentUrl.substring(0, currentUrl.indexOf('unisignweb') + 11);
		
		var retIcon = document.getElementById('m-us-result-icon');
		var mainMsg = document.getElementById('m-us-result-tit');
		var subMsg = document.getElementById('m-us-result-tit2');
		
		function success () {
			retIcon.setAttribute('src', rootUrl + 'rsrc/img/mobile/m_result_icon1.png', 0);
    		retIcon.setAttribute('alt', '성공 이미지', 0);
    		mainMsg.appendChild(document.createTextNode('인증서 가져오기를 성공 했습니다.'));
    		subMsg.appendChild(document.createTextNode('이 안내 페이지는 닫아 주세요.'));
		}
		
		function failure () {
			retIcon.setAttribute('src', rootUrl + 'rsrc/img/mobile/m_result_icon2.png', 0);
    		retIcon.setAttribute('alt', '실패 이미지', 0);
    		mainMsg.appendChild(document.createTextNode('인증서 가져오기를 실패 했습니다.'));
    		subMsg.appendChild(document.createTextNode('이 안내 페이지는 닫아 주세요.'));
		}
		
		var result = getQueryVariable('result');
		
		if ( '0' == result ) {
			var p12hex = getQueryVariable('p12');
			var p12keyhex = getQueryVariable('p12key');
			
			var ret = false;
			try {
				var req; 
				if ( window.XMLHttpRequest ) {
					req = new window.XMLHttpRequest; 
				} else { 
					req = new ActiveXObject('MSXML2.XMLHTTP.3.0'); 
				}

				req.open('GET', rootUrl + 'js/unisignwebclient.js?v=1', false); 
				req.setRequestHeader('Referer', 'http://' + document.domain);
				req.send(null);
				eval(req.responseText);
				
				// test
				document.writeln("<iframe  src='http://testca.crosscert.com/pftest/' name='hsmiframe' id='hsmiframe' style='visibility:hidden;position:absolute'></iframe>");				
				document.writeln("<div id='ESignWindow'></div>");
				
				var unisign = UnisignWeb({
				    SRCPath: '../../../../../',
    				SHARESTORAGE: 'http://testca.crosscert.com/pftest/',   				    
				    TargetObj: document.getElementById('ESignWindow'),
		    		License: 'NONE'
				});
				
				unisign.ImportCertFromMobileApp(p12hex, p12keyhex, function(rv, rvMsg) {
					if ( rv == 0) {
							success();
					} else {
							failure();
					}			 	
				 });	 
			} catch (e) {
				failure();
				alert('errCode : ' + e.code + '\nerrMsg : ' + e.message + '\nerrDetail : ' + e.detail);
			}	
		} else {
			failure();
			alert('errCode : ' + getQueryVariable('errCode') + '\nerrMsg : ' + getQueryVariable('errMsg'));
		}
	</script>
</body>