@charset "utf-8";

/* header bar 파일 크기 영역 */
#header_bar_file_size {
	display: none !important;
}

/* 파일 리스트 파일 크기 영역 */
.fsize [name = "RAON_K_UP_fsize"] {
	display: none !important;
}

.RAON_K_UP_uploadbox_txt ol li {
	margin: 0.3em 0;
}
.RAON_K_UP_uploadbox_txt ol li ul .fsize,
.RAON_K_UP_uploadbox_txt ol li ul .input_chk {
	margin: 0;
}
.RAON_K_UP_info_area {
	display:none;
}