/* Container 2024 */

@import url(./container2024_tablet.css);

.container-wrapper {
  position: relative;
  min-width: 1024px;
  height: 100vh;
  color: #333;
  overflow: hidden;
}

.container-wrapper * {
  box-sizing: border-box;
}

.container-wrapper button {
  outline: none;
  vertical-align: middle;
}

.container-wrapper *:focus,
.container-wrapper *:focus-visible,
.container-wrapper *:focus-within,
.container-wrapper *::-moz-focus-outer {
outline: none;
}


.container-wrapper .btn {
  font-size: 0;
  border-radius: 0;
  border: 0;
}

.container-wrapper img {
  border: 1px solid #ddd;
  font-size: 11px;
}

.container-wrapper .container-header {
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
  background: #E9EDF3;
  border-bottom: 1px solid #D7E2F0;
  flex-wrap: nowrap;
  align-items:center;
  justify-content: space-between;
  gap: 20px;
  z-index: 5;
}

.container-wrapper .container-header * {
  display: flex;
}
.container-wrapper .container-header .left-item {
  flex-wrap: nowrap;
  align-items: center;
  min-width: 0;
}
.container-wrapper .container-header .left-item h1 {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  padding-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-wrapper .container-header .left-item .menu {
  width: 60px;
  height: 60px;
  padding: 0;
  border-right: 1px solid #e6e6e6;
}
.container-wrapper .container-header .left-item .menu:before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  background: #CBDBF4 url(../../images/container/icon-con-header-menu-off.svg) center center no-repeat;
}
.container-wrapper .container-header .left-item .menu.active:before {
  background: #1E51A1 url(../../images/container/icon-con-header-menu-on.svg) center center no-repeat;
}

.container-wrapper .container-header .left-item .label-category {
  height: 34px;
  margin-left: 12px;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #69A3FF;
  border-radius: 24px;
  background: rgb(0,223,242);
  background: linear-gradient(135deg, rgba(0,223,242,1) 0%, rgba(30,81,161,1) 100%);
  vertical-align: middle;
  flex-shrink: 0;
}

.container-wrapper .container-header .left-item .bookmark {
  width: 36px;
  height: 36px;
  margin-left: 8px;
  padding: 8px;
  background: #F3F5F9;
  border: 1px solid #CBCBCB;
  border-radius: 4px;
  flex-shrink: 0;
}
.container-wrapper .container-header .left-item .bookmark:before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  margin: 0 auto;
  padding: 0;
  background: url(../../images/container/icon-con-header-bookmark-off.svg) center center no-repeat;
}
.container-wrapper .container-header .left-item .bookmark.active:before {
  background: url(../../images/container/icon-con-header-bookmark-on.svg) center center no-repeat;
}

.container-wrapper .container-header .right-item {
  flex-shrink: 0;
  padding-right: 32px;
  align-items: center;
  gap: 8px;
}
.container-wrapper .container-header .right-item .label-pages {
  height: 34px;
  padding: 6px 16px;
  font-size: 14px;
  color: #000;
  border: 1px solid #B1C6E7;
  border-radius: 24px;
  background: #fff;
  vertical-align: middle;
  flex-shrink: 0;
}

.container-wrapper .container-header .right-item .save-class {
  height: 34px;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #376EC5;
  border-radius: 17px;
}

.container-wrapper .container-header .right-item .icon-help {
  font-size: 0;
  border: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-left: 4px;
}
.container-wrapper .container-header .right-item .icon-help:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  padding: 0;
  background: url(../../images/container/icon-con-header-help.svg) center center no-repeat;
}

.container-wrapper .container-main {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 120px);
}

.container-wrapper .container-main .contents-list-wrap {
  background: #fff;
  width: 400px;
  position: relative;
  box-shadow: 3px 0 6px rgba(0,0,0,0.16);
  z-index: 3;
}

.container-wrapper .container-main .contents-list-wrap .top {
  position: sticky;
  top: 0;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px 15px 32px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.container-wrapper .container-main .contents-list-wrap .top .contents-list-title {
  font-weight: bold;
  font-size: 18px;
}

.container-wrapper .container-main .contents-list-wrap .top .btn.close {
  border: 0;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  background: #e6e6e6 url('../../images/container/icon-con-list-close.svg') center center no-repeat;
}
.container-wrapper .container-main .contents-list-wrap .top .btn.close:hover {
  background-color: #ddd;
}

.container-wrapper .container-main .contents-list-wrap .contents-list {
  max-height: calc(100vh - 184px);
  overflow: auto;
}

.container-wrapper .container-main .contents-list-wrap .contents-list > div {
  border-bottom: 1px solid #f6f6f6;
  padding: 15px 0;
}

.container-wrapper .container-main .contents-list-wrap .contents-list span.title {
  display: block;
  font-weight: bold;
  color: #1E51A1;
  padding: 5px 10px 5px 32px;
}
.container-wrapper .container-main .contents-list-wrap .contents-list a {
  display: block;
  position: relative;
  padding: 4px 32px;
  font-size: 14px;
  font-weight: 500;
  color: #838383;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-wrapper .container-main .contents-list-wrap .contents-list a:hover {
  background: #E9EDF3;
}
.container-wrapper .container-main .contents-list-wrap .contents-list a.active {
  color: #fff;
  background: #9BB6E2;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag {
  padding: 2px 5px;
  font-size: 11px;
  color: #fff;
  background: #999;
  border: 1px solid #333;
  border-radius: 4px;
  margin-right: 4px;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag:last-child {
  margin-right: 8px;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.violet {
  color: #fff;
  background: #C43CB4;
  border: 1px solid #B036A2;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.blue {
  color: #fff;
  background: #00A7FF;
  border: 1px solid #0096E5;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.pink {
  color: #fff;
  background: #F28B9C;
  border: 1px solid #D97D8C;
}

.container-wrapper .container-main .contents-list .overthumb {
  position: absolute;
  left: calc(100% - 15px);
  padding: 20px 20px 14px;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  background: #fff;
  z-index: 9;
}
.container-wrapper .container-main .contents-list .overthumb:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: #fff;
  transform: translateY(-6px) rotate(45deg);
  left: -7px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.16);
}
.container-wrapper .container-main .contents-list .overthumb:after {
  content: "";
  position: absolute;
  left: -5px;
  top: 50%;
  width: 16px;
  height: 16px;
  background: #fff;
  transform: translateY(-8px) rotate(45deg);
}

.container-wrapper .container-main .contents-list .overthumb .img-thumb {
  width: 160px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 8px;
}
.container-wrapper .container-main .contents-list .overthumb span {
  display: block;
  width: 160px;
}

.container-wrapper .container-main .contents-list-wrap .bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: space-evenly;
  padding: 16px;
  background: #fff;
  border-top: 1px solid #ebebeb;
  gap: 4px;
}
.container-wrapper .container-main .contents-list-wrap .bottom .btn {
  width: 50%;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  flex-grow: 1;
}
.container-wrapper .container-main .contents-list-wrap .bottom .btn.blue {
  color: #fff;
  background: #376EC5;
}
.container-wrapper .container-main .contents-list-wrap .bottom .btn.blue-outline {
  color: #1E51A1;
  background: #fff;
  border: 1px solid #376EC5;
}

.container-wrapper .container-main .viewer-wrap {
  position: relative;
  width: calc(100% - 400px);
}

.container-wrapper .container-main .viewer-wrap.wide {
  width: 100%;
}

.container-wrapper .container-main .viewer-wrap .view-content-area {
  text-align: center;
  position: relative;
  align-content: center;
  height: calc(100% - 60px);
  background: #eee;
}

.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"] {
  height: 100%;
  position: absolute;
  top: 0;
  width: 60px;
  border-radius: 0;
  padding: 0;
  font-size: 0;
  border: 0;
}
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"]:hover {
  background: none;
}

.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"]:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: url('../../images/container/icon-con-viewer-btn-prev-off.svg') center center no-repeat;
  z-index: 2;
}
.container-wrapper .container-main .viewer-wrap .btn-view-prev {
  left: 10px;
}
.container-wrapper .container-main .viewer-wrap .btn-view-prev:before {
  transform: translate(8px, -50%);
}

.container-wrapper .container-main .viewer-wrap .btn-view-next {
  right: 10px;
}

.container-wrapper .container-main .viewer-wrap .btn-view-next:before {
  transform: rotate(180deg) translate(-12px, 50%);
}
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"]:after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 60px;
  height: 60px;
  background: #fff;
  background: linear-gradient(180deg, #fff 0%, #efefef 100%);
  border: 1px solid #ddd;
  border-radius: 50%;
  z-index: 1;
}
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"].active:hover:after{
  background: linear-gradient(0deg, #fff 0%, #efefef 100%);
}
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"].active:before {
  background: url('../../images/container/icon-con-viewer-btn-prev-on.svg') center center no-repeat;
}

.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb {
  position: absolute;
  top: 50%;
  padding: 14px 20px 20px;
  transform: translateY(-50%);
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  background: #fff;
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: #fff;
  transform: translateY(-6px) rotate(45deg);
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: translateY(-10px) rotate(45deg);
}

.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb.prev {
  left: 90px;
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb.prev:before {
  left: -7px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.16);
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb.prev:after {
  left: -4px;
}

.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb.next {
  right: 90px;
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb.next:before {
  right: -7px;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  box-shadow: 4px 0px 6px rgba(0,0,0,0.16);
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb.next:after {
  right: -4px;
}

.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  margin-bottom: 10px;
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb span:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  margin-left: 6px;
  transform: rotate(180deg);
  background: url('../../images/container/icon-con-footer-btn-paging-arrow-small.svg') no-repeat;
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb .img-thumb {
  width: 160px;
  height: auto;
  border: 1px solid #ddd;
  vertical-align: top;
  border-radius: 12px;
}

.container-wrapper .container-main .viewer-control {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  background: #f5f5f5;
  padding: 0 10px;
  border-top: 1px solid #EDEDED;
  align-items: center;
}
.container-wrapper .container-main .viewer-control * {
  display: inline-block;
  vertical-align: middle;
}
.container-wrapper .container-main .viewer-control .center-item {
  display: flex;
  margin: 0 auto;
  text-align: center;
  gap: 4px;
}
.container-wrapper .container-main .viewer-control .center-item .btn {
  width: 84px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  color: #717171;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #D2D2D2;
}
.container-wrapper .container-main .viewer-control .center-item .btn:hover {
  color: #000;
}
.container-wrapper .container-main .viewer-control .center-item .btn.prev:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  background: url('../../images/container/icon-con-footer-btn-paging-arrow-small.svg') center center no-repeat;
}
.container-wrapper .container-main .viewer-control .center-item .btn.next:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  background: url('../../images/container/icon-con-footer-btn-paging-arrow-small.svg') center center no-repeat;
  transform: rotate(180deg);
}
.container-wrapper .container-main .viewer-control .center-item a.link {
  font-size: 16px;
  color: #717171;
  text-decoration: underline;
}
.container-wrapper .container-main .viewer-control .center-item a.link:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -3px;
  margin-left: 8px;
  background: url('../../images/container/icon-con-viewer-control-link.svg') center center no-repeat;
  vertical-align: middle;
}
.container-wrapper .container-main .viewer-control .center-item a.link:hover {
  color: #1E51A1;
}
.container-wrapper .container-main .viewer-control .right-item {
  position: absolute;
  right: 10px;
  display: flex;
  align-content: center;
  align-items: center;
}
.container-wrapper .container-main .viewer-control .right-item .paging {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #717171;
  gap: 4px;
}
.container-wrapper .container-main .viewer-control .right-item .paging strong {
  font-weight: 500;
  color: #376EC5;
}
.container-wrapper .container-main .viewer-control .right-item .btn {
  border: 1px solid #ddd;
  width: 24px;
  height: 24px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 8px;
  background: transparent url(../../images/container/icon-con-footer-btn-paging-arrow-small.svg) center center no-repeat;
}
.container-wrapper .container-main .viewer-control .right-item .btn.next {
  margin-left: -1px;
  transform: rotate(180deg);
}
.container-wrapper .container-main .viewer-control .right-item .btn.disabled {
  background-color: #f2f2f2;
}

.container-wrapper .container-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 61px;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  justify-content: space-between;
  gap: 0;
  z-index: 4;
}

.container-wrapper .container-footer * {
  display: inline-block;
  vertical-align: middle;
}

.container-wrapper .container-footer .left-item {
  position: absolute;
  left: 0px;
  display: flex;
  background: #fff;
  z-index: 4;
}

.container-wrapper .container-footer .left-item .btn {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  width: 118px;
  height: 60px;
  padding: 0;
  border-right: 1px solid #e6e6e6;
  vertical-align: middle;
}

.container-wrapper .container-footer .left-item .btn:hover,
.container-wrapper .container-footer .left-item .btn.active {
  color: #fff;
  background-color: #1E51A1;
}

.container-wrapper .container-footer .left-item .btn.list {
  width: 60px;
  font-size: 0;
  background: transparent url('../../images/container/icon-con-footer-list-off.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .btn.list:hover,
.container-wrapper .container-footer .left-item .btn.list.active {
  background: #1E51A1 url('../../images/container/icon-con-footer-list-on.svg') center center no-repeat;
}

.container-wrapper .container-footer .left-item .btn:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.container-wrapper .container-footer .left-item .btn.note:before {
  width: 16px;
  height: 17px;
  background: url('../../images/container/icon-con-footer-btn-note.svg') left center no-repeat;
}
.container-wrapper .container-footer .left-item .btn.note:hover:before,
.container-wrapper .container-footer .left-item .btn.note.active:before {
  background: url('../../images/container/icon-con-footer-btn-note-white.svg') left center no-repeat;
}

.container-wrapper .container-footer .left-item .btn.drawing:before {
  width: 17px;
  height: 17px;
  background: url('../../images/container/icon-con-footer-btn-drawing.svg') left center no-repeat;
}
.container-wrapper .container-footer .left-item .btn.drawing:hover:before,
.container-wrapper .container-footer .left-item .btn.drawing.active:before {
  background: url('../../images/container/icon-con-footer-btn-drawing-white.svg') left center no-repeat;
}

.container-wrapper .container-footer .left-item .btn.mathtool:before {
  width: 18px;
  height: 18px;
  background: url('../../images/container/icon-con-footer-btn-mathtool.svg') left center no-repeat;
}
.container-wrapper .container-footer .left-item .btn.mathtool:hover:before,
.container-wrapper .container-footer .left-item .btn.mathtool.active:before {
  background: url('../../images/container/icon-con-footer-btn-mathtool-white.svg') left center no-repeat;
}

.container-wrapper .container-footer .left-item .mathtool-menu {
  position: absolute;
  width: max-content;
  left: calc(118px * 2 + 60px);
  bottom: 80px;
  height: 62px;
  background: #fff;
  border: 1px solid #1E51A1;
  z-index: 4;
}
.container-wrapper .container-footer .left-item .mathtool-menu:before {
  content: "";
  display: block;
  position: absolute;
  left: 53px;
  bottom: -20px;
  border-top: 10px solid #1E51A1;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid transparent;
}
.container-wrapper .container-footer .left-item .mathtool-menu ul {
  display: flex;
  width: 100%;
}

.container-wrapper .container-footer .left-item .mathtool-menu ul li .btn.deg:before {
  width: 14px;
  height: 19px;
  background: url('../../images/container/icon-con-footer-btn-mathtool-deg.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .mathtool-menu ul li .btn.deg:hover:before,
.container-wrapper .container-footer .left-item .mathtool-menu ul li .btn.deg.active:before {
  background: url('../../images/container/icon-con-footer-btn-mathtool-deg-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .mathtool-menu ul li .btn.ruler:before {
  width: 19px;
  height: 19px;
  background: url('../../images/container/icon-con-footer-btn-mathtool-ruler.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .mathtool-menu ul li .btn.ruler:hover:before,
.container-wrapper .container-footer .left-item .mathtool-menu ul li .btn.ruler.active:before {
  background: url('../../images/container/icon-con-footer-btn-mathtool-ruler-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .mathtool-menu ul li .btn.tri:before {
  width: 19px;
  height: 19px;
  background: url('../../images/container/icon-con-footer-btn-mathtool-tri.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .mathtool-menu ul li .btn.tri:hover:before,
.container-wrapper .container-footer .left-item .mathtool-menu ul li .btn.tri.active:before {
  background: url('../../images/container/icon-con-footer-btn-mathtool-tri-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .mathtool-menu ul li .btn.calc:before {
  width: 14px;
  height: 19px;
  background: url('../../images/container/icon-con-footer-btn-mathtool-calc.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .mathtool-menu ul li .btn.calc:hover:before,
.container-wrapper .container-footer .left-item .mathtool-menu ul li .btn.calc.active:before {
  background: url('../../images/container/icon-con-footer-btn-mathtool-calc-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .left-item .mathtool-menu ul li:last-child .btn,
#viewer-tool li:last-child > button {
  border-right: 0;
}
.container-wrapper .container-footer .left-item .mathtool-menu .btn.close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -1px;
  right: -33px;
  font-size: 0;
  border: 0;
  background: #154591;
  opacity: 1;
}
.container-wrapper .container-footer .left-item .mathtool-menu .btn.close:before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto;
  background: url('../../images/container/icon-con-close-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .center-item {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.container-wrapper .container-footer .center-item .btn.paging {
  width: 20px;
  height: 20px;
  background: url('../../images/container/icon-con-footer-btn-paging-arrow.svg') center center no-repeat;
}
.container-wrapper .container-footer .center-item .btn.paging.blue {
  background: url('../../images/container/icon-con-footer-btn-paging-arrow-blue.svg') center center no-repeat;
}
.container-wrapper .container-footer .center-item .btn.paging.next {
  transform: rotate(180deg);
}

.container-wrapper .container-footer .center-item > div {
  font-size: 18px;
  color: #717171;
  display: flex;
  gap: 5px;
}
.container-wrapper .container-footer .center-item > div strong {
  color: #376EC5;
}

.container-wrapper .container-footer .right-item {
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  gap: 0;
  background: #fff;
  z-index: 5;
}

.container-wrapper .container-footer .right-item > div {
  display: flex;
}

.container-wrapper .container-footer .right-item .zoom-group {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 16px;
  border-left: 1px solid #e6e6e6;
  vertical-align: middle;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
}

.container-wrapper .container-footer .right-item .zoom-group .btn {
  font-size: 0;
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
}

.container-wrapper .container-footer .right-item .zoom-group .btn.zoomout:before,
.container-wrapper .container-footer .right-item .zoom-group .btn.zoomin:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 2px;
  background: #626262;
  border-radius: 2px;
}

.container-wrapper .container-footer .right-item .zoom-group .btn.zoomin:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 14px;
  background: #626262;
  border-radius: 2px;
}
.container-wrapper .container-footer .right-item .zoom-group .btn:hover {
  background: #1E51A1;
  border: 1px solid #1C4B94;
}
.container-wrapper .container-footer .right-item .zoom-group .btn:hover:before,
.container-wrapper .container-footer .right-item .zoom-group .btn:hover:after {
  background: #fff;
}

.container-wrapper .container-footer .right-item .btn {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  width: 118px;
  height: 60px;
  padding: 0;
  border-left: 1px solid #e6e6e6;
  vertical-align: middle;
  background-color: #fff;
}
.container-wrapper .container-footer .right-item .btn:hover {
  color: #fff;
  background-color: #1E51A1;
}

.container-wrapper .container-footer .right-item .btn:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.container-wrapper .container-footer .right-item .btn.download:before {
  width: 17px;
  height: 17px;
  background: transparent url('../../images/container/icon-con-footer-btn-download.svg') center center no-repeat;
}
.container-wrapper .container-footer .right-item .btn.download:hover:before,
.container-wrapper .container-footer .right-item .btn.download.active:before {
  background: transparent url('../../images/container/icon-con-footer-btn-download-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .right-item .btn.retry:before {
  width: 16px;
  height: 15px;
  background: transparent url('../../images/container/icon-con-footer-btn-retry.svg') center center no-repeat;
}
.container-wrapper .container-footer .right-item .btn.retry:hover:before,
.container-wrapper .container-footer .right-item .btn.retry.active:before {
  background: transparent url('../../images/container/icon-con-footer-btn-retry-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .right-item .btn.a-check:before {
  width: 17px;
  height: 16px;
  background: transparent url('../../images/container/icon-con-footer-btn-a-check.svg') center center no-repeat;
}
.container-wrapper .container-footer .right-item .btn.a-check:hover:before,
.container-wrapper .container-footer .right-item .btn.a-check.active:before {
  background: transparent url('../../images/container/icon-con-footer-btn-a-check-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .right-item .btn.full-screen {
  width: 60px;
  font-size: 0;
  background: transparent url('../../images/container/icon-con-footer-btn-full-screen.svg') center center no-repeat;
}
.container-wrapper .container-footer .right-item .btn.full-screen:hover,
.container-wrapper .container-footer .right-item .btn.full-screen.active {
  background: #1E51A1 url('../../images/container/icon-con-footer-btn-full-screen-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .right-item .btn.classtool:before {
  width: 18px;
  height: 17px;
  margin-right: 2px;
  background: url('../../images/container/icon-con-footer-btn-classtool.svg') left center no-repeat;
}

.container-wrapper .container-footer .right-item .btn.classtool:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  width: 18px;
  height: 17px;
  background: url('../../images/container/icon-con-footer-btn-classtool-arrow.svg') center center no-repeat;
}
.container-wrapper .container-footer .right-item .btn.classtool:hover,
.container-wrapper .container-footer .right-item .btn.classtool.open {
  background-color: #000;
}
.container-wrapper .container-footer .right-item .btn.classtool:hover:before,
.container-wrapper .container-footer .right-item .btn.classtool.open:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-white.svg') left center no-repeat;
}
.container-wrapper .container-footer .right-item .btn.classtool:hover:after,
.container-wrapper .container-footer .right-item .btn.classtool.open:after {
  background: url('../../images/container/icon-con-footer-btn-classtool-arrow-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .right-item .btn.classtool.open:after {
  transform: rotate(180deg);
}

.container-wrapper .container-footer .right-item .classtool-menu {
  position: absolute;
  z-index: 2;
  right: 10px;
  bottom: 70px;
  padding: 16px 24px;
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.container-wrapper .container-footer .right-item .classtool-menu ul li {
  display: block;
}
.container-wrapper .container-footer .right-item .classtool-menu ul li .btn {
  text-align: left;
  border: 0;
  width: 120px;
  height: 34px;
  background: transparent;
}
.container-wrapper .container-footer .right-item .classtool-menu ul li .btn:hover,
.container-wrapper .container-footer .right-item .classtool-menu ul li .btn.active {
  color: #1E51A1;
  background: none;
}
.container-wrapper .container-footer .classtool-menu .btn:before {
  width: 17px;
  height: 17px;
  margin-right: 16px;
}
.container-wrapper .container-footer .classtool-menu .btn.write:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-write.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu .btn.timer:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-timer.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu .btn.blind:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-blind.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu .btn.attention:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-attention.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu .btn.present:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-present.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu .btn.score:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-score.svg') center center no-repeat;
}

.container-wrapper .container-footer .left-item .classtool-menu {
  display: flex;
}
.container-wrapper .container-footer .left-item .classtool-menu .btn:hover {
  background: #1E51A1;
}
.container-wrapper .container-footer .left-item .classtool-menu .btn:before {
  margin-right: 8px;
}
.container-wrapper .container-footer .left-item .classtool-menu .btn.write:hover:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-write-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .classtool-menu .btn.timer:hover:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-timer-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .classtool-menu .btn.blind:hover:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-blind-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .classtool-menu .btn.attention:hover:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-attention-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .classtool-menu .btn.present:hover:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-present-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .classtool-menu .btn.score:hover:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-score-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .right-item .classtool-menu ul li .btn-favorite {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  background: url('../../images/container/icon-con-footer-btn-favorite-off.svg') center center no-repeat;
  cursor: pointer;
}
.container-wrapper .container-footer .right-item .classtool-menu ul li .btn-favorite:checked {
  background: url('../../images/container/icon-con-footer-btn-favorite-on.svg') center center no-repeat;
}

.container-wrapper .container-footer .right-item .btn.setting {
  width: 60px;
  font-size: 0;
  background: transparent url('../../images/container/icon-con-footer-btn-setting.svg') center center no-repeat;
}
.container-wrapper .container-footer .right-item .btn.setting:hover,
.container-wrapper .container-footer .right-item .btn.setting.active {
  background: #1E51A1 url('../../images/container/icon-con-footer-btn-setting-white.svg') center center no-repeat;
}

/* basic css edit */
.container-wrapper .other-lesson .item-wrap {
  padding: 0;
}
.container-wrapper .other-lesson .item-wrap::before {
  background-color: #1E51A1;
}
.container-wrapper .other-lesson .item a:hover, .other-lesson .item a.active {
  background-color: #E9EDF3;
}
.container-wrapper .other-lesson .item a:hover,
.container-wrapper .other-lesson .item a.active,
.container-wrapper .other-lesson .sub-item a:hover,
.container-wrapper .other-lesson .sub-item a.active {
  color: #1E51A1;
}
.container-wrapper .other-lesson .item a::after {
  background-color: #1E51A1;
}

/* middle ver. */
@media (min-width: 1320px) and (max-width: 1919px) {
  .container-wrapper .container-header .right-item {
    padding-right: 16px;
  }
  .container-wrapper .container-footer .left-item .classtool-menu .btn,
  .container-wrapper .container-footer .right-item > .btn:not(.classtool),
  .container-wrapper .container-footer .right-item .contents-control .btn {
    position: relative;
    width: 60px;
  }
  .container-wrapper .container-footer .left-item .classtool-menu .btn:before,
  .container-wrapper .container-footer .right-item .contents-control .btn:before {
    margin: 0;
  }
  .container-wrapper .container-footer .left-item .classtool-menu .btn span,
  .container-wrapper .container-footer .right-item > .btn:not(.classtool) span,
  .container-wrapper .container-footer .right-item > div:not(.classtool-menu) .btn span {
    display: none;
  }
  .container-wrapper .container-footer .left-item .classtool-menu .btn:hover span,
  .container-wrapper .container-footer .right-item > .btn:not(.classtool):hover span,
  .container-wrapper .container-footer .right-item > div:not(.classtool-menu) .btn:hover span {
    display: block;
    position: absolute;
    width: max-content;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 8px 8px;
    font-size: 12px;
    color: #000;
    border: 1px solid #8CD5D3;
    border-radius: 6px;
    background: #fff;
    z-index: 5;
  }
  .container-wrapper .container-footer .left-item .classtool-menu .btn:hover span:before,
  .container-wrapper .container-footer .right-item > .btn:hover span:before,
  .container-wrapper .container-footer .right-item > div:not(.classtool-menu) .btn:hover span:before,
  .container-wrapper .container-footer .right-item .btn.classtool:hover span:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: rotate(45deg) translate(-40%, 35%);
    border-right: 1px solid #8CD5D3;
    border-bottom: 1px solid #8CD5D3;
    background: #fff;
  }
  .container-wrapper .container-footer .right-item > div:not(.classtool-menu) .btn:before
  .container-wrapper .container-footer .right-item .btn:not(.classtool):before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container-wrapper .container-footer .left-item .mathtool-menu {
    left: calc(118px * 2 + 60px);
  }
  .container-wrapper .container-footer .left-item .mathtool-menu:before {
    left: 58px;
  }
  .container-wrapper .container-footer .left-item .mathtool-menu ul li .btn span,
  .container-wrapper .container-footer .right-item .classtool-menu ul li .btn span {
    font-size: 14px;
  }
  .container-wrapper .container-footer .left-item .mathtool-menu ul li .btn span:before {
    margin-right: 8px;
  }
}

/* Tablet ver. */
@media (max-width: 1319px) {
  .container-wrapper .container-header .right-item {
    padding-right: 16px;
  }
  .container-wrapper .container-footer .left-item > .btn ,
  .container-wrapper .container-footer .left-item .classtool-menu .btn ,
  .container-wrapper .container-footer .right-item .btn {
    position: relative;
    width: 60px;
  }
  .container-wrapper .container-footer .left-item > .btn:before,
  .container-wrapper .container-footer .left-item .classtool-menu .btn:before,
  .container-wrapper .container-footer .right-item > .btn:before,
  .container-wrapper .container-footer .right-item > div:not(.classtool-menu) .btn:before,
  .container-wrapper .container-footer .right-item .btn.classtool:before {
    margin: 0;
  }
  .container-wrapper .container-footer .left-item > .btn,
  .container-wrapper .container-footer .right-item > div:not(.classtool-menu) .btn {
    position: relative;
  }
  .container-wrapper .container-footer .left-item > .btn span,
  .container-wrapper .container-footer .left-item .classtool-menu .btn span,
  .container-wrapper .container-footer .right-item > .btn span,
  .container-wrapper .container-footer .right-item > div:not(.classtool-menu) .btn span,
  .container-wrapper .container-footer .right-item .btn.classtool span {
    display: none;
  }
  .container-wrapper .container-footer .left-item > .btn:hover span,
  .container-wrapper .container-footer .left-item .classtool-menu .btn:hover span,
  .container-wrapper .container-footer .right-item > .btn:hover span,
  .container-wrapper .container-footer .right-item > div:not(.classtool-menu) .btn:hover span,
  .container-wrapper .container-footer .right-item .btn.classtool:hover span {
    display: block;
    position: absolute;
    width: max-content;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 8px 8px;
    font-size: 12px;
    color: #000;
    border: 1px solid #8CD5D3;
    border-radius: 6px;
    background: #fff;
    z-index: 5;
  }
  .container-wrapper .container-footer .left-item > .btn:hover span:before,
  .container-wrapper .container-footer .left-item .classtool-menu .btn:hover span:before,
  .container-wrapper .container-footer .right-item > .btn:hover span:before,
  .container-wrapper .container-footer .right-item > div:not(.classtool-menu) .btn:hover span:before,
  .container-wrapper .container-footer .right-item .btn.classtool:hover span:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: rotate(45deg) translate(-40%, 35%);
    border-right: 1px solid #8CD5D3;
    border-bottom: 1px solid #8CD5D3;
    background: #fff;
  }
  .container-wrapper .container-footer .left-item > .btn:before,
  .container-wrapper .container-footer .right-item > div:not(.classtool-menu) .btn:before
  .container-wrapper .container-footer .right-item .btn:not(.classtool):before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container-wrapper .container-footer .left-item .mathtool-menu {
    left: calc(60px * 3);
  }
  .container-wrapper .container-footer .left-item .mathtool-menu:before {
    left: 24px;
  }
  .container-wrapper .container-footer .left-item .mathtool-menu ul li .btn span,
  .container-wrapper .container-footer .right-item .classtool-menu ul li .btn span {
    font-size: 14px;
  }
  .container-wrapper .container-footer .left-item .mathtool-menu ul li .btn span:before {
    margin-right: 8px;
  }
  .container-wrapper .container-footer .right-item .btn.classtool:after {
    display: none;
  }
}

#viewer-area {
  width: 100%;
  height: calc(100vh - 121px);
  background-color: #eee;
}
#viewer-area.with-bottom {
  height: calc(100vh - 181px);
}