/* Container 2024 */

@import url(./container2024_tablet.css);

body.bg-default-img {
  background:url(../../images/container/bg-default-img@2x.png) center center no-repeat; background-size:cover;
}

.container-wrapper {
  position: relative;
  min-width: 1320px;
  height: 100vh;
  color: #333;
  overflow: hidden;
}

.container-wrapper * {
  box-sizing: border-box;
}

.container-wrapper button {
  outline: none;
  vertical-align: middle;
}

.container-wrapper .btn {
  font-size: 0;
  border-radius: 0;
  border: 0;
}

.container-wrapper img {
  border: 1px solid #ddd;
  font-size: 11px;
}

.container-wrapper .container-header {
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
  background: #E9EDF3;
  border-bottom: 1px solid #D7E2F0;
  flex-wrap: nowrap;
  align-items:center;
  justify-content: space-between;
  gap: 20px;
  z-index: 5;
}

.container-wrapper .container-header * {
  display: flex;
}
.container-wrapper .container-header .left-item {
  flex-wrap: nowrap;
  align-items: center;
  min-width: 0;
}
.container-wrapper .container-header .left-item h1 {
  display: inline-block;
  font-size: 20px;
  line-height: 29px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#000;
  cursor:pointer;
}

.container-wrapper .container-header .left-item .menu {
  width: 60px;
  height: 60px;
  padding: 0;
}
.container-wrapper .container-header .left-item .menu:before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  background:url(../../images/container/icon-header-menu-open.svg) center center no-repeat;
}
.container-wrapper .container-header .left-item .menu.active:before {
  background-image: url(../../images/container/icon-header-menu-open-active.svg);
}

.container-wrapper .container-header .left-item .label-category {
  height: 34px;
  margin-left: 12px;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #69A3FF;
  border-radius: 24px;
  background: rgb(0,223,242);
  background: linear-gradient(135deg, rgba(0,223,242,1) 0%, rgba(30,81,161,1) 100%);
  vertical-align: middle;
  flex-shrink: 0;
}

.container-wrapper .container-header .left-item .bookmark {
  width: 36px;
  height: 36px;
  margin-left: 8px;
  padding: 8px;
  background: #F3F5F9;
  border: 1px solid #CBCBCB;
  border-radius: 4px;
  flex-shrink: 0;
}
.container-wrapper .container-header .left-item .bookmark:before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  margin: 0 auto;
  padding: 0;
  background: url(../../images/container/icon-con-header-bookmark-off.svg) center center no-repeat;
}
.container-wrapper .container-header .left-item .bookmark.active:before {
  background: url(../../images/container/icon-con-header-bookmark-on.svg) center center no-repeat;
}

.container-wrapper .container-header .right-item {
  flex-shrink: 0;
  padding-right: 32px;
  align-items: center;
}
.container-wrapper .container-header .right-item .label-pages {
  font-size: 16px;
  color: #626262;
  font-weight:500;
  display:inline-flex;
  align-items: center;
}

.container-wrapper .container-header .right-item .label-pages:hover {
  color:#386EC5;
}

.container-wrapper .container-header .right-item .label-pages:hover i {
  background-image:url(../../images/container/icon-ebook-active.svg)
}

.container-wrapper .container-header .right-item .label-pages + .label-pages {
  margin-left:10px;
  padding-left:12px;
  position:relative;
}

.container-wrapper .container-header .right-item .label-pages + .label-pages:before {
  content:'';
  width:1px;
  height:10px;
  display:block;
  position:absolute;
  left:0; top:50%;
  transform:translateY(-50%);
  background-color:#C6C6C6;
}

.container-wrapper .container-header .right-item .label-pages i {
  width:18px;
  height:15px;
  margin-right:4px;
  display:block;
  background:url(../../images/container/icon-ebook.svg) 0 0 no-repeat;
  background-size:100%;
}

.container-wrapper .container-header .right-item .save-class {
  margin-left:20px;
  padding: 5px 11px 7px;
  font-size: 14px;
  color: #626262;
  font-weight:500;
  background: #fff;
  border:1px solid #D2D2D2;
  border-radius: 4px;
}

.container-wrapper .container-header .right-item .icon-help {
  font-size: 0;
  border: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-left: 12px;
}
.container-wrapper .container-header .right-item .icon-help:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  padding: 0;
  background: url(../../images/container/icon-con-header-help.svg) center center no-repeat;
}

.container-wrapper .container-main {
  /* background: #fff; */
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 120px);
}

.container-wrapper .container-main .contents-list-wrap {
  background: #fff;
  width: 400px;
  position: relative;
  box-shadow: 3px 0 6px rgba(0,0,0,0.16);
  z-index: 3;
}

.container-wrapper .container-main .contents-list-wrap .top {
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px 15px 32px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.container-wrapper .container-main .contents-list-wrap .top .contents-list-title {
  font-weight: bold;
  font-size: 18px;
}

.container-wrapper .container-main .contents-list-wrap .top .btn.close {
  border: 0;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  background: #e6e6e6 url('../../images/container/icon-con-list-close.svg') center center no-repeat;
}
.container-wrapper .container-main .contents-list-wrap .top .btn.close:hover {
  background-color: #ddd;
}

.container-wrapper .container-main .contents-list-wrap .contents-list {
  max-height: calc(100vh - 184px);
  overflow: auto;
}

.container-wrapper .container-main .contents-list-wrap .contents-list > div {
  border-bottom: 1px solid #f6f6f6;
  padding: 20px 0 24px;
}

.container-wrapper .container-main .contents-list-wrap .contents-list span.title {
  font-size:17px;
  display: block;
  font-weight: bold;
  color: #1E51A1;
  padding: 5px 10px 5px 32px;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li {
  padding:4px 32px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul >li:hover {
  background: #E9EDF3;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.active {
  background: #9BB6E2;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li > a {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #838383;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.active a {
  color:#fff;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list {
  padding:0;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list:hover {
  background-color:#fff;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list .item-group-title {
  padding:4px 32px;
  font-size:16px;
  font-weight:500;
  color:#838383;
  width:100%;
  display:flex;
  align-items: center;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list.active > .item-group-title,
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list > .item-group-title.active,
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list > .item-group-title:hover {
  background-color:#9BB6E2;
  color:#fff;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list .item-group-title .icon-item-group {
  width:20px;
  height:20px;
  display:block;
  position:relative;
  margin-right:4px;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list .item-group-title .icon-item-group:before {
  content:'';
  width:14px;
  height:14px;
  display:block;
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  background:url(../../images/container/icon-group-list.svg) 0 0 no-repeat; background-size:100%;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list.active .item-group-title .icon-item-group:before,
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list .item-group-title.active .icon-item-group:before,
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list .item-group-title:hover .icon-item-group:before {
  background-image:url(../../images/container/icon-group-list-active.svg)
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list ul {
  width:100%;
  background-color:#fff;
  display:none;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list ul li {
  padding:0;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list ul li a {
  padding:4px 32px 4px 56px;
  display:flex;
  font-size:16px;
  color:#838383;
  font-weight:500;
  align-items: center;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list ul li:hover a,
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list ul li.active a {
  background-color:#E7EEF8;
  color:#1E51A1;
}
.container-wrapper .container-main .contents-list-wrap .contents-list > div > ul > li.item-group-list ul li a .icon-group-child {
  width:4px;
  height:4px;
  margin-right:8px;
  display:block;
  background:url(../../images/container/icon-group-tree-child.svg) 0 0 no-repeat;
  background-size:100%;
}

.container-wrapper .container-main .contents-list-wrap .contents-list a .tag {
  margin-top: -3px;
  margin-right: 8px;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag {
  display: inline-block;
  height: 23px;
  padding: 1px 5px;
  font-size: 12px;
  color: #fff;
  background: #999;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  margin-right: 0;
  vertical-align: middle;
  flex-shrink: 0;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.violet {
  color: #fff;
  background: #C43CB4;
  border: 1px solid #B036A2;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.blue {
  color: #fff;
  background: #00A7FF;
  border: 1px solid #0096E5;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.pink {
  color: #fff;
  background: #F28B9C;
  border: 1px solid #D97D8C;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.green {
  color: #fff;
  background: #64AE7F;
  border: 1px solid #5A9C72;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.navy {
  color: #fff;
  background: #3D6AB2;
  border: 1px solid #1D50A1;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.red {
  color: #fff;
  background: #E92F30;
  border: 1px solid #E92F30;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.icon {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0;
  background-color:#eee;
  border:0;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.maker:before {
  width: 11px;
  height: 13px;
  background: url('../../images/container/icon-con-list-tag-maker.svg') center center no-repeat;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.share:before {
  left: calc(50% - 1px);
  width: 12px;
  height: 12px;
  background: url('../../images/container/icon-con-list-tag-share.svg') center center no-repeat;
}
.container-wrapper .container-main .contents-list-wrap .contents-list .tag.pdf:before {
  width: 12px;
  height: 12px;
  background: url('../../images/container/icon-con-list-tag-pdf.svg') center center no-repeat;
}

.container-wrapper .container-main .contents-list .overthumb {
  position: absolute;
  left: calc(100% - 15px);
  padding: 20px 20px 14px;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  background: #fff;
  z-index: 9;
}
.container-wrapper .container-main .contents-list .overthumb:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: #fff;
  transform: translateY(-6px) rotate(45deg);
  left: -7px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.16);
}
.container-wrapper .container-main .contents-list .overthumb:after {
  content: "";
  position: absolute;
  left: -5px;
  top: 50%;
  width: 16px;
  height: 16px;
  background: #fff;
  transform: translateY(-8px) rotate(45deg);
}

.container-wrapper .container-main .contents-list .overthumb .img-thumb {
  width: 160px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 8px;
  vertical-align:top;
}
.container-wrapper .container-main .contents-list .overthumb span {
  display: block;
  width: 160px;
  line-height:20px;
  color:#000;
  font-weight:500;
}

.container-wrapper .container-main .contents-list-wrap .bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: space-evenly;
  padding: 16px;
  background: #fff;
  border-top: 1px solid #ebebeb;
  gap: 4px;
}
.container-wrapper .container-main .contents-list-wrap .bottom .btn {
  width: 50%;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  flex-grow: 1;
}
.container-wrapper .container-main .contents-list-wrap .bottom .btn.blue {
  color: #fff;
  background: #376EC5;
}
.container-wrapper .container-main .contents-list-wrap .bottom .btn.blue-outline {
  color: #1E51A1;
  background: #fff;
  border: 1px solid #376EC5;
}

.container-wrapper .container-main .viewer-wrap {
  position: relative;
  width: calc(100% - 400px);
}

.container-wrapper .container-main .viewer-wrap.wide {
  width: 100%;
}

.container-wrapper .container-main .viewer-wrap .viewer-item-scrap {width:50px; height:72px; position:absolute; right:80px; top:0; background:url(../../images/container/icon-item-scrap.svg) 0 0 no-repeat; background-size:100%; z-index:1;}
.container-wrapper .container-main .viewer-wrap .viewer-item-scrap:before {content:''; width:24px; height:24px; display:block; position:absolute; left:50%; top:20px; transform:translateX(-50%); background:url(../../images/container/icon-item-scrap-bell.svg) 0 0 no-repeat; background-size:100%;}
.container-wrapper .container-main .viewer-wrap .viewer-item-scrap.active {background-image:url(../../images/container/icon-item-scrap-active.svg)}
.container-wrapper .container-main .viewer-wrap .view-content-head {height:60px; display:flex; align-items:center; justify-content:center; border-bottom:1px solid #EDEDED; background-color:#F5F5F5;}
.container-wrapper .container-main .viewer-wrap .view-content-head .view-content_doc_title {font-size:18px; font-weight:500; color:#000;}
.container-wrapper .container-main .viewer-wrap .view-content-area {
  text-align: center;
  position: relative;
  align-content: center;
  height: calc(100% - 60px);
  /* background: #eee; */
}
.container-wrapper .container-main .viewer-wrap .view-content-area.height-full {
  height:100%;
}
.container-wrapper .container-main .viewer-wrap .view-content-area.height-type-both {
  height: calc(100% - 120px);
}
.container-wrapper .container-main .viewer-wrap .view-content-area.height-type2-both {
  height: calc(100% - 180px);
}
.container-wrapper .container-main .viewer-wrap .view-content-area .btn-view-prev {}
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"] {width:60px; height:100%; position:absolute; top:0;}
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"]:hover {background-color:#FAFAFA;}
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"]:before,
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"]:after {content:''; display:block; position:absolute; background-repeat:no-repeat; background-position:center center; background-size:100%;}
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"]:before {width:46px; height:46px; left:50%; top:50%; transform:translate(-50%, -50%); background-image:url(../../images/container/icon-page-control-btn-bg.svg);}
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"]:after {width:14px; height:25px; left:50%; top:50%; transform:translate(-50%,-50%); background-image:url(../../images/container/icon-page-control-btn.svg)}
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"]:disabled:before,
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"]:disabled:after {opacity:0.5;}
.container-wrapper .container-main .viewer-wrap .view-content-area [class^="btn-view-"].active:after {background-image:url(../../images/container/icon-page-control-btn-active.svg)}
.container-wrapper .container-main .viewer-wrap .view-content-area .btn-view-prev {left:0;}
.container-wrapper .container-main .viewer-wrap .view-content-area .btn-view-next {right:0;}
.container-wrapper .container-main .viewer-wrap .view-content-area .btn-view-next:after {transform:translate(-50%, -50%) rotate(180deg);}

.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb {
  position: absolute;
  top: 50%;
  padding: 14px 20px 20px;
  transform: translateY(-50%);
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  background: #fff;
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: #fff;
  transform: translateY(-6px) rotate(45deg);
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: translateY(-10px) rotate(45deg);
}

.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb.prev {
  left: 90px;
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb.prev:before {
  left: -7px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.16);
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb.prev:after {
  left: -4px;
}

.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb.next {
  right: 90px;
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb.next:before {
  right: -7px;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  box-shadow: 4px 0px 6px rgba(0,0,0,0.16);
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb.next:after {
  right: -4px;
}

.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  margin-bottom: 8px;
  color:#000;
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb span:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  margin-left: 6px;
  transform: rotate(180deg);
  background: url('../../images/container/icon-con-footer-btn-paging-arrow-small.svg') no-repeat;
}
.container-wrapper .container-main .viewer-wrap .view-content-area .overthumb .img-thumb {
  width: 160px;
  height: auto;
  border: 1px solid #ddd;
  vertical-align: top;
  border-radius: 12px;
}

.container-wrapper .container-main .viewer-control {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  background: #f5f5f5;
  padding: 0 10px;
  border-top: 1px solid #EDEDED;
  align-items: center;
}
.container-wrapper .container-main .viewer-control * {
  display: inline-block;
  vertical-align: middle;
}
.container-wrapper .container-main .viewer-control .center-item {
  display: flex;
  margin: 0 auto;
  text-align: center;
  gap: 4px;
}
.container-wrapper .container-main .viewer-control .center-item .btn {
  width: 84px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  color: #717171;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #D2D2D2;
}
.container-wrapper .container-main .viewer-control .center-item .btn:hover {
  color: #000;
}
.container-wrapper .container-main .viewer-control .center-item .btn.prev:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  background: url('../../images/container/icon-con-footer-btn-paging-arrow-small.svg') center center no-repeat;
}
.container-wrapper .container-main .viewer-control .center-item .btn.next:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  background: url('../../images/container/icon-con-footer-btn-paging-arrow-small.svg') center center no-repeat;
  transform: rotate(180deg);
}
.container-wrapper .container-main .viewer-control .center-item a.link {
  font-size: 16px;
  color: #717171;
  font-weight:500;
  text-decoration: underline;
}
.container-wrapper .container-main .viewer-control .center-item a.link:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -3px;
  margin-left: 8px;
  background: url('../../images/container/icon-con-viewer-control-link.svg') center center no-repeat;
  vertical-align: middle;
}
.container-wrapper .container-main .viewer-control .center-item a.link:hover {
  color: #1E51A1;
}
.container-wrapper .container-main .viewer-control .right-item {
  position: absolute;
  right: 10px;
  display: flex;
  align-content: center;
  align-items: center;
}
.container-wrapper .container-main .viewer-control .right-item .paging {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #717171;
  gap: 4px;
}
.container-wrapper .container-main .viewer-control .right-item .paging strong {
  font-weight: 500;
  color: #376EC5;
}
.container-wrapper .container-main .viewer-control .right-item .btn {
  border: 1px solid #ddd;
  width: 24px;
  height: 24px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 12px;
  background: transparent url(../../images/container/icon-con-footer-btn-paging-arrow-small.svg) center center no-repeat;
}
.container-wrapper .container-main .viewer-control .right-item .btn:hover {
  background-color:#fff;
}
.container-wrapper .container-main .viewer-control .right-item .btn.next {
  margin-left: -1px;
  transform: rotate(180deg);
}
.container-wrapper .container-main .viewer-control .right-item .btn:disabled {
  background-color: #f2f2f2;
}

.container-wrapper .container-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 61px;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  justify-content: space-between;
  gap: 0;
  z-index: 4;
}

.container-wrapper .container-footer * {
  display: inline-block;
  vertical-align: middle;
}

.container-wrapper .container-footer .left-item {
  position: absolute;
  left: 0px;
  display: flex;
  background: #fff;
  z-index: 4;
}

.container-wrapper .container-footer .left-item .btn {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  width: 118px;
  height: 60px;
  padding: 0;
  border-right: 1px solid #e6e6e6;
  vertical-align: middle;
}

.container-wrapper .container-footer .left-item .btn:hover,
.container-wrapper .container-footer .left-item .btn.active {
  color: #fff;
  background-color: #1E51A1;
}

.container-wrapper .container-footer .left-item .btn.list {
  width: 60px;
  font-size: 0;
  background: transparent url('../../images/container/icon-con-footer-list-off.svg') center center no-repeat;
}
.container-wrapper .container-footer .left-item .btn.list:hover,
.container-wrapper .container-footer .left-item .btn.list.active {
  background: #1E51A1 url('../../images/container/icon-con-footer-list-on.svg') center center no-repeat;
}

.container-wrapper .container-footer .btn:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.container-wrapper .container-footer .btn.note:before {
  width: 16px;
  height: 17px;
  background: url('../../images/container/icon-con-footer-btn-note.svg') left center no-repeat;
}
.container-wrapper .container-footer .btn.note:hover:before,
.container-wrapper .container-footer .btn.note.active:before {
  background: url('../../images/container/icon-con-footer-btn-note-white.svg') left center no-repeat;
}

.container-wrapper .container-footer .btn.drawing:before {
  width: 17px;
  height: 17px;
  background: url('../../images/container/icon-con-footer-btn-drawing.svg') left center no-repeat;
}
.container-wrapper .container-footer .btn.drawing:hover:before,
.container-wrapper .container-footer .btn.drawing.active:before {
  background: url('../../images/container/icon-con-footer-btn-drawing-white.svg') left center no-repeat;
}

.container-wrapper .container-footer .btn.mathtool:before {
  width: 18px;
  height: 18px;
  background: url('../../images/container/icon-con-footer-btn-mathtool.svg') left center no-repeat;
}
.container-wrapper .container-footer .btn.mathtool:hover:before,
.container-wrapper .container-footer .btn.mathtool.active:before {
  background: url('../../images/container/icon-con-footer-btn-mathtool-white.svg') left center no-repeat;
}

.container-wrapper .container-footer .mathtool-menu {
  position: absolute;
  width: max-content;
  left: calc(118px * 2 + 60px);
  bottom: 80px;
  height: 62px;
  background: #fff;
  border: 1px solid #1E51A1;
  z-index: 4;
}
.container-wrapper .container-footer .mathtool-menu:before {
  content: "";
  display: block;
  position: absolute;
  left: 53px;
  bottom: -20px;
  border-top: 10px solid #1E51A1;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid transparent;
}
.container-wrapper .container-footer .mathtool-menu ul {
  display: flex;
  width: 100%;
}

.container-wrapper .container-footer .mathtool-menu ul li .btn.deg:before {
  width: 14px;
  height: 19px;
  background: url('../../images/container/icon-con-footer-btn-mathtool-deg.svg') center center no-repeat;
}
.container-wrapper .container-footer .mathtool-menu ul li .btn.deg:hover:before,
.container-wrapper .container-footer .mathtool-menu ul li .btn.deg.active:before {
  background: url('../../images/container/icon-con-footer-btn-mathtool-deg-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .mathtool-menu ul li .btn.ruler:before {
  width: 19px;
  height: 19px;
  background: url('../../images/container/icon-con-footer-btn-mathtool-ruler.svg') center center no-repeat;
}
.container-wrapper .container-footer .mathtool-menu ul li .btn.ruler:hover:before,
.container-wrapper .container-footer .mathtool-menu ul li .btn.ruler.active:before {
  background: url('../../images/container/icon-con-footer-btn-mathtool-ruler-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .mathtool-menu ul li .btn.tri:before {
  width: 19px;
  height: 19px;
  background: url('../../images/container/icon-con-footer-btn-mathtool-tri.svg') center center no-repeat;
}
.container-wrapper .container-footer .mathtool-menu ul li .btn.tri:hover:before,
.container-wrapper .container-footer .mathtool-menu ul li .btn.tri.active:before {
  background: url('../../images/container/icon-con-footer-btn-mathtool-tri-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .mathtool-menu ul li .btn.calc:before {
  width: 14px;
  height: 19px;
  background: url('../../images/container/icon-con-footer-btn-mathtool-calc.svg') center center no-repeat;
}
.container-wrapper .container-footer .mathtool-menu ul li .btn.calc:hover:before,
.container-wrapper .container-footer .mathtool-menu ul li .btn.calc.active:before {
  background: url('../../images/container/icon-con-footer-btn-mathtool-calc-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .mathtool-menu ul li:last-child .btn,
#viewer-tool li:last-child > button {
  border-right: 0;
}
.container-wrapper .container-footer .mathtool-menu .btn.close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -1px;
  right: -33px;
  font-size: 0;
  border: 0;
  background: #154591;
  opacity: 1;
}
.container-wrapper .container-footer .mathtool-menu .btn.close:before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto;
  background: url('../../images/container/icon-con-close-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .center-item {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 1;
}

.container-wrapper .container-footer .center-item .btn.paging {
  width: 30px;
  height: 30px;
  background:url(../../images/container/icon-btm-circle-bg.svg) 0 0 no-repeat; background-size:100%;
  position:relative;
}
.container-wrapper .container-footer .center-item .btn.paging:before {content:''; width:9px; height:17px; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); display:block; background:url(../../images/container/icon-btm-page-arrow.svg) 0 0 no-repeat;}
.container-wrapper .container-footer .center-item .btn.paging.active:before,
.container-wrapper .container-footer .center-item .btn.paging:hover:before {background-image:url(../../images/container/icon-btm-page-arrow-active.svg)}
.container-wrapper .container-footer .center-item .btn.paging.prev:before {transform:translate(-50%, -50%) rotate(180deg);}
.container-wrapper .container-footer .center-item .btn.paging:disabled:before {opacity:0.5;}
.container-wrapper .container-footer .center-item .btn.paging:disabled:hover:before {background-image:url(../../images/container/icon-btm-page-arrow.svg);}

.container-wrapper .container-footer .center-item > div {
  font-size: 18px;
  color: #717171;
  display: flex;
  gap: 5px;
}
.container-wrapper .container-footer .center-item > div strong {
  color: #376EC5;
}

.container-wrapper .container-footer .center-item > div span {
  font-weight:400;
}

.container-wrapper .container-footer .right-item {
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  gap: 0;
  background: #fff;
  z-index: 5;
}

.container-wrapper .container-footer .right-item > div {
  display: flex;
}

.container-wrapper .container-footer .right-item .zoom-group {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 16px;
  border-left: 1px solid #e6e6e6;
  vertical-align: middle;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
}

.container-wrapper .container-footer .right-item .zoom-group .btn {
  font-size: 0;
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
}

.container-wrapper .container-footer .right-item .zoom-group .btn.zoomout:before,
.container-wrapper .container-footer .right-item .zoom-group .btn.zoomin:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 2px;
  background: #626262;
  border-radius: 2px;
}

.container-wrapper .container-footer .right-item .zoom-group .btn.zoomin:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 14px;
  background: #626262;
  border-radius: 2px;
}
.container-wrapper .container-footer .right-item .zoom-group .btn:hover {
  background: #1E51A1;
  border: 1px solid #1C4B94;
}
.container-wrapper .container-footer .right-item .zoom-group .btn:hover:before,
.container-wrapper .container-footer .right-item .zoom-group .btn:hover:after {
  background: #fff;
}

.container-wrapper .container-footer .right-item .btn {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  width: 118px;
  height: 60px;
  padding: 0;
  border-left: 1px solid #e6e6e6;
  vertical-align: middle;
  background-color: #fff;
}
.container-wrapper .container-footer .right-item .btn:hover {
  color: #fff;
  background-color: #1E51A1;
}

.container-wrapper .container-footer .right-item .btn:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.container-wrapper .container-footer .btn.download:before {
  width: 17px;
  height: 17px;
  background: transparent url('../../images/container/icon-con-footer-btn-download.svg') center center no-repeat;
}
.container-wrapper .container-footer .btn.download:hover:before,
.container-wrapper .container-footer .btn.download.active:before {
  background: transparent url('../../images/container/icon-con-footer-btn-download-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .btn.retry:before {
  width: 16px;
  height: 15px;
  background: transparent url('../../images/container/icon-con-footer-btn-retry.svg') center center no-repeat;
}
.container-wrapper .container-footer .btn.retry:hover:before,
.container-wrapper .container-footer .btn.retry.active:before {
  background: transparent url('../../images/container/icon-con-footer-btn-retry-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .btn.a-check:before {
  width: 17px;
  height: 16px;
  background: transparent url('../../images/container/icon-con-footer-btn-a-check.svg') center center no-repeat;
}
.container-wrapper .container-footer .btn.a-check:hover:before,
.container-wrapper .container-footer .btn.a-check.active:before {
  background: transparent url('../../images/container/icon-con-footer-btn-a-check-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .btn.full-screen {
  width: 60px;
  font-size: 0;
  background: transparent url('../../images/container/icon-con-footer-btn-full-screen.svg') center center no-repeat;
}
.container-wrapper .container-footer .btn.full-screen:hover,
.container-wrapper .container-footer .btn.full-screen.active {
  background: #1E51A1 url('../../images/container/icon-con-footer-btn-full-screen-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .btn.classtool:before {
  width: 18px;
  height: 17px;
  margin-right: 2px;
  background: url('../../images/container/icon-con-footer-btn-classtool.svg') center center no-repeat;
}

.container-wrapper .container-footer .btn.classtool:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  width: 18px;
  height: 17px;
  background: url('../../images/container/icon-con-footer-btn-classtool-arrow.svg') center center no-repeat;
}
.container-wrapper .container-footer .btn.classtool:hover,
.container-wrapper .container-footer .btn.classtool.active {
  background-color: #000;
}
.container-wrapper .container-footer .btn.classtool:hover:before,
.container-wrapper .container-footer .btn.classtool.active:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .btn.classtool:hover:after,
.container-wrapper .container-footer .btn.classtool.active:after {
  background: url('../../images/container/icon-con-footer-btn-classtool-arrow-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .btn.classtool.active:after {
  transform: rotate(180deg);
}

.container-wrapper .container-footer .classtool-menu.pop {
  position: absolute;
  z-index: 2;
  left: 60px;
  bottom: 70px;
  padding: 24px 24px 16px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.container-wrapper .container-footer .classtool-menu.pop .info {
  display: block;
  width: 170px;
  margin: 0 -14px 14px;
  padding: 0 0 16px 34px;
  font-size: 12px;
  color: #838383;
  border-bottom: 1px solid #E6E6E6;
}
.container-wrapper .container-footer .classtool-menu.pop .info:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: -3px;
  margin-right: 6px;
  margin-left: -20px;
  background: url('../../images/container/icon-con-footer-btn-classtool-caution.svg') center center no-repeat;
  vertical-align: middle;
}
.container-wrapper .container-footer .classtool-menu.pop .info strong {
  vertical-align: baseline;
  color: #1E51A1;
}

.container-wrapper .container-footer .classtool-menu.pop ul li {
  display: block;
}
.container-wrapper .container-footer .classtool-menu.pop ul li .btn {
  text-align: left;
  border: 0;
  width: 120px;
  height: 34px;
  background: transparent;
}
.container-wrapper .container-footer .classtool-menu ul li .btn:hover,
.container-wrapper .container-footer .classtool-menu ul li .btn.active {
  color: #1E51A1;
  background: none;
}
.container-wrapper .container-footer .classtool-menu .btn:before {
  width: 17px;
  height: 17px;
  margin-right: 16px;
}
.container-wrapper .container-footer .classtool-menu .btn.write:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-write.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu .btn.timer:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-timer.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu .btn.blind:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-blind.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu .btn.attention:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-attention.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu .btn.present:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-present.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu .btn.score:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-score.svg') center center no-repeat;
}

.container-wrapper .container-footer .classtool-menu.favorite {
  display: flex;
}
.container-wrapper .container-footer .classtool-menu.favorite .btn:hover {
  background: #1E51A1;
}
.container-wrapper .container-footer .classtool-menu.favorite .btn:before {
  margin-right: 8px;
}
.container-wrapper .container-footer .classtool-menu.favorite .btn.write:hover:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-write-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu.favorite .btn.timer:hover:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-timer-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu.favorite .btn.blind:hover:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-blind-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu.favorite .btn.attention:hover:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-attention-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu.favorite .btn.present:hover:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-present-white.svg') center center no-repeat;
}
.container-wrapper .container-footer .classtool-menu.favorite .btn.score:hover:before {
  background: url('../../images/container/icon-con-footer-btn-classtool-score-white.svg') center center no-repeat;
}

.container-wrapper .container-footer .classtool-menu ul li .btn-favorite {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  background: url('../../images/container/icon-con-footer-btn-favorite-off.svg') center center no-repeat;
  cursor: pointer;
}
.container-wrapper .container-footer .classtool-menu ul li .btn-favorite:checked {
  background: url('../../images/container/icon-con-footer-btn-favorite-on.svg') center center no-repeat;
}

.container-wrapper .container-footer .btn.setting {
  width: 60px;
  font-size: 0;
  background: transparent url('../../images/container/icon-con-footer-btn-setting.svg') center center no-repeat;
}
.container-wrapper .container-footer .btn.setting:hover,
.container-wrapper .container-footer .btn.setting.active {
  background: #1E51A1 url('../../images/container/icon-con-footer-btn-setting-white.svg') center center no-repeat;
}

/* basic css edit */
.container-wrapper .other-lesson .item-wrap {
  padding: 0;
}
.container-wrapper .other-lesson .item-wrap::before {
  background-color: #1E51A1;
}
.container-wrapper .other-lesson .item a:hover, .other-lesson .item a.active {
  background-color: #E9EDF3;
}
.container-wrapper .other-lesson .item a:hover,
.container-wrapper .other-lesson .item a.active,
.container-wrapper .other-lesson .sub-item a:hover,
.container-wrapper .other-lesson .sub-item a.active {
  color: #1E51A1;
}
.container-wrapper .other-lesson .item a::after {
  background-color: #1E51A1;
}


.container-settings {
  display: flex;
  gap: 20px;
  padding: 0 50px;
}
.container-settings > div {
  width: 50%;
  text-align: center;
}
.container-settings input[type="radio"] {
  display: block;
  border: 0;
  padding: 0;
  width: 100px;
  height: 90px;
  border-radius: 0px;
  margin: 0 auto;
  cursor: pointer;
}
.container-settings input[type="radio"]#rate01 {
  background: url('../../images/container/icon-con-setting-rate01-off.svg') center center no-repeat;
}
.container-settings input[type="radio"]#rate01:checked {
  background: url('../../images/container/icon-con-setting-rate01-on.svg') center center no-repeat;
}
.container-settings input[type="radio"]#rate02 {
  background: url('../../images/container/icon-con-setting-rate02-off.svg') center center no-repeat;
}
.container-settings input[type="radio"]#rate02:checked {
  background: url('../../images/container/icon-con-setting-rate02-on.svg') center center no-repeat;
}
.container-settings input[type="radio"]#way01 {
  background: url('../../images/container/icon-con-setting-way01-off.svg') center center no-repeat;
}
.container-settings input[type="radio"]#way01:checked {
  background: url('../../images/container/icon-con-setting-way01-on.svg') center center no-repeat;
}
.container-settings input[type="radio"]#way02 {
  background: url('../../images/container/icon-con-setting-way02-off.svg') center center no-repeat;
}
.container-settings input[type="radio"]#way02:checked {
  background: url('../../images/container/icon-con-setting-way02-on.svg') center center no-repeat;
}
.container-settings label {
  display: block;
  margin-top: 12px;
  font-weight: 500;
  color: #838383;
  cursor: pointer;
}
.container-settings input[type="radio"]:checked + label {
  color: #02A39F;
}

.save-class {
  display: flex;
  align-items: center;
  gap: 10px;
}
.save-class .ox-group {
  flex-shrink: 0;
	width: 150px;
}

.container-wrapper .container-footer .right-item > div.contents-control .btn { width: 110px; }

/* middle ver. */
@media (max-width: 1919px) {
  .container-wrapper .container-header .right-item {
    padding-right: 16px;
  }
  .container-wrapper .container-footer .left-item .classtool-menu.favorite .btn,
  .container-wrapper .container-footer .right-item > .btn:not(.note) {
    position: relative;
    width: 60px;
  }
  .container-wrapper .container-footer .left-item .classtool-menu.favorite .btn:before,
  .container-wrapper .container-footer .right-item > div:not(.contents-control) .btn:before,
  .container-wrapper .container-footer .right-item > .btn:not(.note):before {
    margin: 0;
  }
  .container-wrapper .container-footer .left-item .classtool-menu.favorite .btn span,
  .container-wrapper .container-footer .right-item > .btn:not(.note) span,
  .container-wrapper .container-footer .right-item > div:not(.contents-control) .btn span {
    display: none;
  }
  .container-wrapper .container-footer .left-item .classtool-menu.favorite .btn:hover span,
  .container-wrapper .container-footer .right-item > .btn:not(.note):hover span,
  .container-wrapper .container-footer .right-item > div:not(.contents-control) .btn:hover span {
    display: block;
    position: absolute;
    width: max-content;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 8px 8px;
    font-size: 12px;
    color: #000;
    border: 1px solid #8CD5D3;
    border-radius: 6px;
    background: #fff;
    z-index: 5;
  }
  .container-wrapper .container-footer .left-item .classtool-menu.favorite .btn:hover span:before,
  .container-wrapper .container-footer .right-item > .btn:not(.note):hover span:before,
  .container-wrapper .container-footer .right-item > div .btn:hover span:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: rotate(45deg) translate(-40%, 35%);
    border-right: 1px solid #8CD5D3;
    border-bottom: 1px solid #8CD5D3;
    background: #fff;
  }
  .container-wrapper .container-footer .right-item > div .btn:before
  .container-wrapper .container-footer .right-item .btn:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container-wrapper .container-footer .left-item .mathtool-menu {
    left: calc(118px * 2 + 60px);
  }
  .container-wrapper .container-footer .left-item .mathtool-menu:before {
    left: 58px;
  }
  .container-wrapper .container-footer .left-item .mathtool-menu ul li .btn span,
  .container-wrapper .container-footer .right-item .classtool-menu ul li .btn span {
    font-size: 14px;
  }
  .container-wrapper .container-footer .left-item .mathtool-menu ul li .btn span:before {
    margin-right: 8px;
  }
}

/* minimal ver. */
/*@media (max-width: 1319px) {
  .container-wrapper .container-header .right-item {
    padding-right: 16px;
  }
  .container-wrapper .container-footer .left-item > .btn ,
  .container-wrapper .container-footer .classtool-menu.favorite .btn ,
  .container-wrapper .container-footer .right-item .btn {
    position: relative;
    width: 60px;
  }
  .container-wrapper .container-footer .left-item > .btn:before,
  .container-wrapper .container-footer .classtool-menu.favorite .btn:before,
  .container-wrapper .container-footer .right-item > .btn:before,
  .container-wrapper .container-footer .right-item > div .btn:before {
    margin: 0;
  }
  .container-wrapper .container-footer .left-item > .btn,
  .container-wrapper .container-footer .classtool-menu.favorite .btn,
  .container-wrapper .container-footer .right-item > .btn,
  .container-wrapper .container-footer .right-item > div .btn {
    position: relative;
  }
  .container-wrapper .container-footer .left-item > .btn span,
  .container-wrapper .container-footer .classtool-menu.favorite .btn span,
  .container-wrapper .container-footer .right-item > .btn span,
  .container-wrapper .container-footer .right-item > div .btn span {
    display: none;
  }
  .container-wrapper .container-footer .left-item > .btn:hover span,
  .container-wrapper .container-footer .left-item .classtool-menu.favorite .btn:hover span,
  .container-wrapper .container-footer .right-item > .btn:hover span,
  .container-wrapper .container-footer .right-item > div .btn:hover span {
    display: block;
    position: absolute;
    width: max-content;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 8px 8px;
    font-size: 12px;
    color: #000;
    border: 1px solid #8CD5D3;
    border-radius: 6px;
    background: #fff;
    z-index: 5;
  }
  .container-wrapper .container-footer .left-item > .btn:hover span:before,
  .container-wrapper .container-footer .classtool-menu.favorite .btn:hover span:before,
  .container-wrapper .container-footer .right-item > .btn:hover span:before,
  .container-wrapper .container-footer .right-item > div .btn:hover span:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: rotate(45deg) translate(-40%, 35%);
    border-right: 1px solid #8CD5D3;
    border-bottom: 1px solid #8CD5D3;
    background: #fff;
  }
  .container-wrapper .container-footer .left-item > .btn:before,
  .container-wrapper .container-footer .right-item > div .btn:before
  .container-wrapper .container-footer .right-item .btn:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container-wrapper .container-footer .left-item .mathtool-menu {
    left: calc(60px * 3);
  }
  .container-wrapper .container-footer .left-item .mathtool-menu:before {
    left: 24px;
  }
  .container-wrapper .container-footer .left-item .mathtool-menu ul li .btn span,
  .container-wrapper .container-footer .right-item .classtool-menu ul li .btn span {
    font-size: 14px;
  }
  .container-wrapper .container-footer .left-item .mathtool-menu ul li .btn span:before {
    margin-right: 8px;
  }
  .container-wrapper .container-footer .btn.classtool:after {
    display: none;
  }
}*/

#viewer-area {
  width: 100%;
  height: calc(100vh - 121px);
  background-color: #eee;
}
#viewer-area.with-bottom {
  height: calc(100vh - 181px);
}
.content-item-name {
  margin-bottom:32px;
  font-size:25px;
  font-weight:700;
  color:#000;
  line-height:36px;
}

.table-items.table-custom-style td.l {text-align:left;}
.table-items.table-custom-style td.txt-black {color:#000;}

.container-wrapper .view-content-thumb {max-width:calc(100% - 40px); margin:0 auto; vertical-align: top; border:0;}
.content-flex-container {display:flex; justify-content: center; align-items: center; flex-direction: column;}
.content-center-box {width:320px; height:200px; position:relative; display:flex; flex-direction: column; align-items: center; justify-content: center; border:1px solid #CAD7DB; border-radius:10px; background-color:#E9EDF3;}
.content-center-box .content-center-txt {margin-top:6px; font-size:20px; line-height:29px; font-weight:500; color:#CAD7DB;}
.content-center-box .content-center-icon {display:block; background-position:0 0; background-repeat:no-repeat; background-size:100%;}
.content-center-box .content-center-icon.ico-file {width:60px; height:51px; background-image:url(../../images/container/icon-content-folder.svg);}
.content-center-box .content-center-icon.ico-link {width:66px; height:59px; background-image:url(../../images/container/icon-content-link.svg);}
.content-center-box .content-center-icon.ico-ebook {width:73px; height:62px; background-image:url(../../images/container/icon-content-ebook.svg);}
.content-center-box .content-center-icon.ico-mydata {width:66px; height:56px; background-image:url(../../images/container/ico-mydata.svg)}
.content-center-box .content-center-icon.ico-aiclass {width:173px; height:71px; position:absolute; left:67px; top:75px; background-image:url(../../images/container/logo-aiclass-logo@2x.png);}
.content-btn-link {margin-top:25px; display:inline-flex; align-items: center; padding:0 32px; height:46px; line-height:46px; border:1px solid #0000001A; background-color:#1E51A1; text-align: center; font-size:18px; font-weight:500; color:#fff; border-radius:4px;}
.content-btn-link .ico-content-link {width:16px; height:16px; margin-left:9px; display:block; background:url(../../images/container/ico-content-btn-link.svg) 0 0 no-repeat; background-size:100%;}
.content-btm-desc {font-size:20px; line-height:29px; font-size:20px; color:#000; margin-top:32px; font-weight:500;}
.media-play-control-area {margin-top:16px;}
.txt-hidden {font-size:0; width:0; height:0; position:absolute; left:-9999px;}