@import url(./all-grades2024.css);
:root {
  --color-primary: #02a39f;
  --color-primary-bg: #e6f4f4;
  --color-primary-50: #f9fbfc;
  --color-primary-100: #e8f6f6;
  --color-primary-150: #f2fafa;
  --color-primary-200: #d1eeed;
  --color-primary-300: #8cd5d3;
  --color-primary-400: #36bac1;
  --color-primary-600: #1e9fa7;
  --color-primary-700: #017c81;
  --color-primary-800: #015c61;
  --color-primary-disabled: #88a8a7;
  --color-secondary: #f28b9c;
  --color-secondary-500: #e26f8e;
  --color-secondary-600: #d66384;
  --button-primary: #02a39f;
  --button-primary-hover: #015c61;
  --button-primary-disable: #57AAA0;
  --button-secondary: #36bac1;
  --button-secondary-hover: #015c61;
  --button-secondary-disable: #57AAA0;
  --button-third: #f28b9c;
  --button-third-hover: #e26f8e;
  --button-third-disable: #d66384;
  --logo-images: url("/assets/images/common/logo-elementary.svg");
  --logo-mteacher: url("/assets/images/elementary/logo-mteacher.svg");
  --bg-prd-reference: url("/assets/images/elementary/bg-prd-reference.png");
  --icon-star: url("/assets/images/elementary/icon-star.svg");
  --bg-loading: url("/assets/images/elementary/bg-loading.png");
}

body.lesson-2024 {}
body.lesson-2024 h3,
body.lesson-2024 .h3 {font-weight:700;}
body.lesson-2024 .wrapper-lesson {min-width:1320px; overflow:initial; padding-bottom:0;}
body.lesson-2024::-webkit-scrollbar:vertical {display: none;}

body.lesson-2024 .wrapper-lesson .contents-header .header-inner {}
body.lesson-2024 .wrapper-lesson .contents-header .header-inner h2 {line-height:40px;}
body.lesson-2024 .wrapper-lesson .contents-header .header-inner h2 .title-item {min-width:100px; height:40px; margin-right:10px; display:inline-flex; justify-content: center; align-items: center; line-height:40px; background-color:#EFEFEF; border:1px solid #D5D5D5; border-radius:30px; font-size:16px; color:#838383; font-weight:500; transform:translateY(-2px)}
body.lesson-2024 .wrapper-lesson .contents-header .number-pages {color:#626262;}
body.lesson-2024 .wrapper-lesson .contents-header .buttons .other-lesson {}
body.lesson-2024 .wrapper-lesson .contents-header .buttons .other-lesson .button:hover {background-color:#fff;}
body.lesson-2024 .wrapper-lesson .contents-header .buttons .other-lesson .button.active svg {transform:rotate(180deg)}

body.lesson-2024 .period-contents {gap:26px;}

body.lesson-2024 .sub-lessons:last-child {border-bottom: 1px solid #e6e6e6; margin-bottom:60px;}

body.lesson-2024 .lesson-header .lesson-header-buttons {display:flex; align-items: center; gap:4px;}
body.lesson-2024 .lesson-header .lesson-header-buttons button i {width:20px; height:20px; display:block; background-position:0 0; background-repeat:no-repeat; background-size:100%;}
body.lesson-2024 .lesson-header .lesson-header-buttons button i.ico-head-edit {background-image:url(../../images/subject/icon-head-edit.svg)}
body.lesson-2024 .lesson-header .lesson-header-buttons button i.ico-head-share {background-image:url(../../images/subject/icon-head-share.svg)}

body.lesson-2024 .lesson-header h3 {display:flex; align-items:center;}

body.lesson-2024 .lesson-header .lesson-header-buttons .btn-caution img {vertical-align:top;}
body.lesson-2024 .lesson-header .input-inner-extra {max-width:192px;}
body.lesson-2024 .lesson-header .input-inner-extra input[type="search"]::placeholder {font-size:14px; color:#D2D2D2;}

body.lesson-2024 .tabs.type-line > .tab.type01 li a {color:#A4A4A4;}
body.lesson-2024 .tabs.type-line > .tab.type01 li:hover a,
body.lesson-2024 .tabs.type-line > .tab.type01 li:focus a,
body.lesson-2024 .tabs.type-line > .tab.type01 li.active a {font-weight:700;}
body.lesson-2024 .tabs.type-line > .tab.type01 li.active {border:0;}
body.lesson-2024 .tabs.type-line > .tab.type01 li.active:before {content:''; width:100%; height:2px; display:block; position:absolute; left:0; bottom:0; background-color:#8CD5D3;}

body.lesson-2024 .sub-lessons h4 {}
body.lesson-2024 .sub-lessons h4 strong {font-weight:500; font-size:16px; color:#01A39F;}
body.lesson-2024 .sub-lessons .btn-more {height:36px; padding:0 16px; border-radius:18px; display:flex; align-items:center; z-index:1; font-size:14px;}
body.lesson-2024 .sub-lessons .btn-more:before {width:8px; height:8px; margin-right:6px; position:static; display:block; background:url(../../images/subject/icon-doc-plus.svg) 0 0 no-repeat; background-size:100%; transform:rotate(45deg);}
body.lesson-2024 .sub-lessons .btn-more:after {display:none;}
body.lesson-2024 .sub-lessons .btn-more strong {font-weight:700;}

body.lesson-2024 .lesson-data .data {position:relative;}
body.lesson-2024 .lesson-data .data.disabled {overflow:hidden;}
body.lesson-2024 .lesson-data .data.disabled:hover {border: 1px solid #e6e6e6; background-color:#fff;}
body.lesson-2024 .lesson-data .data.disabled:before {content:''; width:100%; height:100%; display:block; position:absolute; left:0; top:0; background-color:rgba(246, 246, 246, .5); z-index:11;}
body.lesson-2024 .lesson-data .data:hover,
body.lesson-2024 .lesson-data .data:focus,
body.lesson-2024 .lesson-data .data.active,
body.lesson-2024 .lesson-data .data.active-vertical,
body.lesson-2024 .lesson-data .data.active-horizontal {border-color:#8CD5D3; background-color:#F2FAFA;}
body.lesson-2024 .lesson-data .data {padding:15px 20px; border-radius:4px;}
body.lesson-2024 .lesson-data .data a > span {display:inline-flex; align-items: center; font-weight:500;}
body.lesson-2024 .lesson-data .data .image-wrap {min-height:64px; max-height:64px; border:1px solid #ddd; display: block; background-image:url(../../images/subject/icon-no-image-default.svg); background-size:21px 18px;}
body.lesson-2024 .lesson-data .data .image-wrap .ox {position:absolute; left:6px; top:6px;}
body.lesson-2024 .lesson-data .data a .badges .badge {border-color:rgba(0,0,0,0.5)}
body.lesson-2024 .data.no-link .image-wrap {background-image:url(../../images/subject/icon-no-image-link.svg); background-size:25px 23px;} /* 25 23 */
body.lesson-2024 .data.no-file .image-wrap {background-image:url(../../images/subject/icon-no-image-file.svg); background-size:23px 20px;} /* 23 20 */
body.lesson-2024 .data.no-scrap .image-wrap {background-image:url(../../images/subject/icon-no-image-scrap.svg); background-size:25px 25px;} /* 25 25 */
body.lesson-2024 .data.no-image .image-wrap {background-image:url(../../images/subject/icon-no-image-image.svg); background-size:29px 24px;} /* 29 24 */
body.lesson-2024 .data.no-pdf .image-wrap {background-image:url(../../images/subject/icon-no-image-pdf.svg); background-size:24px 32px;} /* 24 32 */
body.lesson-2024 .data.aiclass .image-wrap {background-image:url(../../images/subject/logo-aiclass-logo@2x.png); background-size:62px 25px; background-position:25px 24px;} /* 24 32 */
body.lesson-2024 .lesson-data .data a .number-pages {}
body.lesson-2024 .lesson-data .data a .number-pages .badge {font-size:14px; color:#A4A4A4; padding:0; background-color:transparent; line-height:20px; min-height:auto;}
body.lesson-2024 .lesson-data .data .image-wrap img {height: 100%; max-height: 100%; vertical-align: top; position: absolute; left: 50%; top:50%; transform: translate(-50%,-50%);}
body.lesson-2024 .lesson-data .data .title-ellipsis {font-size:16px; line-height:24px; }
body.lesson-2024 .lesson-data .data-afterimage,
body.lesson-2024 .lesson-data .no-data {border-radius:4px;}
body.lesson-2024 .image-wrap {border-radius:4px;}
body.lesson-2024 .image-wrap .badge.type-round-box {min-height:20px; padding: 2px 5px 0px; left:4px; top:4px; right:auto; bottom:auto;}
body.lesson-2024 .image-wrap .image-wrap-buttons-group {position:absolute; right:4px; top:4px;}
body.lesson-2024 .image-wrap .image-wrap-buttons-group .badge {position:relative; left:auto; top:auto; right:auto; bottom:auto;}
body.lesson-2024 .image-wrap .image-wrap-buttons-group .badge.type-round-box.btn-doc-edit {width:20px; height:20px; border-radius:4px;}
body.lesson-2024 .image-wrap .image-wrap-buttons-group .badge.type-round-box.btn-doc-edit img {width:12px; height:12px;}

body.lesson-2024 .type-filter.both-type {padding:19px 30px 19px 0; gap:0;}
body.lesson-2024 .type-filter.both-type .nav-slider {flex:1;}

body.lesson-2024 .nav-slider.type-filter {padding:19px 74px;}
body.lesson-2024 .nav-slider.type-filter .swiper-slide label {padding-top:8px; padding-bottom:6px;}

.flex-item-buttons {display:flex; border-bottom: 1px solid #d2d2d2; background-color: #fafafa;}
.flex-item-buttons .nav-slider {flex:1; border:0; background:none;}
.flex-item-buttons .buttons.type01 {padding-right:30px; display:flex; align-items:center; gap:4px; }
.flex-item-buttons .buttons.type01 .tooltip-trigger {display:flex; align-items: center;}

body.lesson-2024 .button.type-icon.size-sm:disabled {background-color:#F6F6F6; border-color:#D2D2D2; opacity:1;}
body.lesson-2024 .button.type-icon.size-sm:hover {background-color:#E8F6F6; border-color:#01A39F;}
body.lesson-2024 .button.type-icon.size-sm:before {content:''; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); background-repeat:no-repeat; background-position:0 0; background-size:100%;}
body.lesson-2024 .button.type-icon.size-sm.ico-delete:before {width:12px; height:12px; background-image:url(../../images/subject/icon-delete-default.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-delete:hover:before {background-image:url(../../images/subject/icon-delete-active.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-share:before {width:13px; height:13px; background-image:url(../../images/subject/icon-share-default.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-share:hover:before {background-image:url(../../images/subject/icon-share-active.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-favorite:before {width:14px; height:14px; background-image:url(../../images/subject/icon-favorite-default.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-favorite.active {background-color:#E8F6F6; border-color:#01A39F;}
body.lesson-2024 .button.type-icon.size-sm.ico-favorite.active:before,
body.lesson-2024 .button.type-icon.size-sm.ico-favorite:hover:before {background-image:url(../../images/subject/icon-favorite-active.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-download:before {width:13px; height:13px; background-image:url(../../images/subject/icon-download-default.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-download:hover:before {background-image:url(../../images/subject/icon-download-active.svg)}

body.lesson-2024 .webui-popover {z-index:1001;}
body.lesson-2024 .webui-popover-inner {margin:16px;}
body.lesson-2024 h3.webui-popover-title {margin:0 0 8px; font-size:16px; color:#000; line-height:24px; font-weight:500;}
body.lesson-2024 .webui-popover .webui-popover-content {margin:0;}
body.lesson-2024 .webui-popover .webui-popover-content .ul-dot {}
body.lesson-2024 .webui-popover .webui-popover-content .ul-dot > li {padding-left:16px; color:#838383; line-height:20px;}
body.lesson-2024 .webui-popover .webui-popover-content .ul-dot > li::before {top:8px;}

body.lesson-2024 .float-button {
  right:20px; bottom:20px;
  padding-top:40px;
  background: transparent linear-gradient(135deg, #36BAC1 0%, #02A39F 100%) 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 20px #17807D33;
  border: 1px solid #0000000A;
  font-size:11px; line-height:12px;
  z-index:1;
}
body.lesson-2024 .float-button:before {content:''; width:24px; height:21px; display:block; position:absolute; left:50%; top:16px; transform:translateX(-50%); background:url(../../images/subject/icon-folder-arrow-up.svg) 0 0 no-repeat; background-size:100%;}
body.lesson-2024 .buttons.type-rounded label {border-radius:18px;}

.txt-hidden {font-size:0; width:0; height:0; position:absolute; left:-9999px;}

body.lesson-2024 .button.size-md.type01 {min-width:76px;}
body.lesson-2024 .icon-button.c-black {color:#000;}

.txt-badge {min-width:53px; height:18px; margin-left:4px; line-height:18px; text-align:center; border-radius:10px; background-color:#F4F4F4; font-size:10px; font-weight:500; color:##A4A4A4;}
.txt-badge.blue-box {border:1px solid #3577BD; background-color:#fff; color:#3577BD;}

.lesson-head-toggle-btn {position:relative; margin-left:12px;}
.lesson-head-toggle-btn input[type="checkbox"] {display:none;}
.lesson-head-toggle-btn input[type="checkbox"] + .lesson-head-toggle .toggle-txt.default {position:relative; z-index:1;}
.lesson-head-toggle-btn input[type="checkbox"]:checked + .lesson-head-toggle .toggle-txt {position:relative; z-index:1;}
.lesson-head-toggle-btn input[type="checkbox"] + .lesson-head-toggle {width:121px; height:36px; position:relative; display:inline-flex; align-items: center; justify-content: space-around; box-shadow: inset 0px 3px 6px #D15B5B19; border: 2px solid #FFFFFF; border-radius: 18px; cursor:pointer;}
.lesson-head-toggle-btn input[type="checkbox"] + .lesson-head-toggle .toggle-txt {font-size:15px; color:#fff; font-weight:700; transition: color ease-in-out .3s;}
.lesson-head-toggle-btn input[type="checkbox"] + .lesson-head-toggle .toggle-txt.default {color:#000; transition: color ease-in-out .3s;}
.lesson-head-toggle-btn input[type="checkbox"] + .lesson-head-toggle:before {content:''; width:68px; height:calc(100% + 4px); display:block; position:absolute; left:-2px; top:-2px; background-color:#fff; box-shadow: 0px 3px 3px #00000029; border-radius:18px; transition:left ease-in-out .3s;}
.lesson-head-toggle-btn input[type="checkbox"]:checked + .lesson-head-toggle:before {left:calc(100% / 2 - 4px); transition:left ease-in-out .3s;}
.lesson-head-toggle-btn input[type="checkbox"]:checked + .lesson-head-toggle .toggle-txt {color:#000; transition: color ease-in-out .3s;}
.lesson-head-toggle-btn input[type="checkbox"]:checked + .lesson-head-toggle .toggle-txt.default {color:#fff; transition: color ease-in-out .3s;}

.data.group-content {display:block;}
.data.group-content:before,
.data.group-content:after {content:''; height:3px; display:block; position:absolute; border-radius:4px; background-color:#eee; border-width:0 1px 1px 1px; border-style:solid; border-color:#ddd;}
.data.group-content:before {width:calc(100% - 8px); left:4px; bottom:-4px;}
.data.group-content:after {width:calc(100% - 16px); left:8px; bottom:-7px;}
.data.group-content .outer-wrap {display:flex; align-items:center; gap:20px;}
.data.group-content .outer-wrap .inner-wrap {flex:1;}
.data.group-content .data-group-child-area {display:none; margin-top:16px; padding:16px 0 0 0; border-top: 1px dashed #8CD5D3;}
.data.group-content .data-group-child-area .child-list {display:flex; flex-direction: column; gap:10px;}
.data.group-content .data-group-child-area .child-list > li {position:relative; padding-left:17px; white-space: normal; display: block; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
.data.group-content .data-group-child-area .child-list > li a {font-weight:500; color:#838383;}
.data.group-content .data-group-child-area .child-list > li.active a {color:#02A39F;}
.data.group-content .data-group-child-area .child-list > li:before {content:''; width:5px; height:5px; display:block; position:absolute; left:5px; top:50%; transform:translateY(-50%); background:url(../../images/subject/icon-group-child.svg) 0 0 no-repeat;}

.scrollable-container.has-bottom-toast-pop {overflow:hidden;}
.buttom-toast-area {width:100%; height:70px; padding:0 20px; display:flex; align-items: center; justify-content: space-between; position:absolute; left:0; bottom:0; transform:translateY(100%); background-color:rgba(240,241,241,0.9); border:1px solid #E3E3E3; z-index:20; transition:transform ease-in-out .3s;}
.buttom-toast-area.active {transform:translateY(0); transition:transform ease-in-out .3s;}
.buttom-toast-area .toast-msg {font-size:16px; color:#000; font-weight:700;}
.buttom-toast-area .toast-msg span {color:#02A39F;}
.buttom-toast-area .toast-buttons {display:flex; gap:4px;}
.buttom-toast-area .toast-buttons .toast-button {width:100px; height:46px; border-radius:4px; border:1px solid #D2D2D2; color:#626262; font-weight:500;}
.buttom-toast-area .toast-buttons .toast-button.toast-confirm {background-color:#01A39F; border-color:#0000001A; color:#fff;}
.buttom-toast-area .toast-buttons .toast-button.toast-confirm:disabled {background-color:#E6E6E6; color:#A4A4A4;}
.buttom-toast-area .toast-buttons .toast-button.toast-confirm:hover:not(:disabled) {background-color:#015C61;}
.toast-edit-revert {width: 259px; height: 44px; position: absolute; left: 50%; bottom: 86px; display: flex; align-items: center; justify-content: center; gap: 8px; border-radius: 4px; background-color: rgba(0, 0, 0, 0.8); transform: translateX(-50%); font-weight: 500; color: #fff; opacity:0; transition:opacity ease-in-out .3s; z-index:12;}
.toast-edit-revert.active {opacity:1; transition:opacity ease-in-out .3s;}
.toast-edit-revert i {height:16px; display:block;}
.toast-edit-revert i img {vertical-align: top;}

body.lesson-2024 .breadcrumbs.type-period li {font-size:15px;}

body.lesson-2024 .badge-lesson {background: none; color: #02A39F; padding: 0; width: auto; height: auto; left: 0; top: 37px; font-size: 13px; font-weight: 700;}
body.lesson-2024 .badge-lesson.txt-br {top:29px;}
body.lesson-2024 .lesson-items.potiion-relative {position:relative;}
body.lesson-2024 .lesson-items .item {padding-left:60px;}
body.lesson-2024 .lesson-items .item.item-style1 {padding-bottom:10px;}
body.lesson-2024 .lesson-items .item.item-style1:before {top:27px; border-color:#d2d2d2;}
body.lesson-2024 .lesson-items .item.item-style1:after {top:37px; background-color:#d2d2d2;}
body.lesson-2024 .lesson-items .item.item-style1 .badge-lesson.txt-br {top:16px; color:#bfbfbf;}
body.lesson-2024 .lesson-items .item.item-style1 .lesson-data .data {min-height:auto; padding:0; background-color:#FAFAFA; border:1px solid #E6E6E6;}
body.lesson-2024 .lesson-items .item.item-style1 .lesson-data .data:hover {}
body.lesson-2024 .lesson-items .item.item-style1 .lesson-data .data .inner-wrap {flex:1;}
body.lesson-2024 .lesson-items .item.item-style1 .lesson-data .data .inner-wrap a {display:block; padding:15px 20px;}
body.lesson-2024 .lesson-items .item.item-style1 .lesson-data .data .inner-wrap a strong {color:#626262;}
body.lesson-2024 .lesson-items .item.item-style1 .lesson-data .data.no-draggable {pointer-events: none;}
body.lesson-2024 .lesson-items .item.item-style1 .lesson-data .data.no-draggable:hover {pointer-events:initial;}
body.lesson-2024 .lesson-items .item:before {left:30px;}
body.lesson-2024 .lesson-items .item:after {left:34px; top:8px; border-color:#02A39F; background-color:#b7e2e1;}
body.lesson-2024 .lesson-items .item:last-child:after {display:none;}
body.lesson-2024 .lesson-items .item:last-child .badge-lesson:after {content: ''; width: 2px; height: calc(14vh); display: block; position: absolute; left: 33px; top:20px; background-color: #fff; z-index: 1;}

.lesson-float-buttons {display:flex; gap:4px; position:absolute; right:20px; bottom:20px; z-index:20;}
.lesson-float-buttons .float-btn {width:140px; height:46px; display:flex; justify-content: center; align-items: center; gap:6px; box-shadow: 0px 3px 6px #00000029; border: 1px solid #D2D2D2; border-radius: 23px; background-color:#fff; font-weight:500;}
.lesson-float-buttons .float-btn.float-confirm {border-color:#0000001A; background-color:#37BAC1; color:#fff;}
.lesson-float-buttons .float-btn.float-confirm .lessong-btn-icon {width:16px; height:16px; display:block; background:url(../../images/subject/icon-float-btn.svg) #47474733 center center no-repeat; border-radius:50%;}

body.lesson-2024 .accordion .active .action {
  background-color: var(--color-primary-150);
}

.max-width-1500 {display:none;}
@media (max-width:1500px) {
  .max-width-1500 {display:block;}
}