@import url(./all-grades2024.css);
:root {
  --color-primary: #02a39f;
  --color-primary-bg: #e6f4f4;
  --color-primary-50: #f9fbfc;
  --color-primary-100: #e8f6f6;
  --color-primary-150: #f2fafa;
  --color-primary-200: #d1eeed;
  --color-primary-300: #8cd5d3;
  --color-primary-400: #36bac1;
  --color-primary-600: #1e9fa7;
  --color-primary-700: #017c81;
  --color-primary-800: #015c61;
  --color-primary-disabled: #88a8a7;
  --color-secondary: #f28b9c;
  --color-secondary-500: #e26f8e;
  --color-secondary-600: #d66384;
  --button-primary: #02a39f;
  --button-primary-hover: #015c61;
  --button-primary-disable: #57AAA0;
  --button-secondary: #36bac1;
  --button-secondary-hover: #015c61;
  --button-secondary-disable: #57AAA0;
  --button-third: #f28b9c;
  --button-third-hover: #e26f8e;
  --button-third-disable: #d66384;
  --logo-images: url("/assets/images/common/logo-elementary.svg");
  --logo-mteacher: url("/assets/images/elementary/logo-mteacher.svg");
  --bg-prd-reference: url("/assets/images/elementary/bg-prd-reference.png");
  --icon-star: url("/assets/images/elementary/icon-star.svg");
  --bg-loading: url("/assets/images/elementary/bg-loading.png");
}

body.lesson-2024 {}
body.lesson-2024 h3,
body.lesson-2024 .h3 {font-weight:700;}
body.lesson-2024 .wrapper-lesson {overflow:initial;}

body.lesson-2024 .period-contents {gap:26px;}

body.lesson-2024 .sub-lessons:last-child {border-bottom: 1px solid #e6e6e6; margin-bottom:60px;}

body.lesson-2024 .lesson-header .input-inner-extra {max-width:192px;}
body.lesson-2024 .lesson-header .input-inner-extra input[type="search"]::placeholder {font-size:14px; color:#D2D2D2;}

body.lesson-2024 .tabs.type-line > .tab.type01 li a {color:#A4A4A4;}
body.lesson-2024 .tabs.type-line > .tab.type01 li:hover a,
body.lesson-2024 .tabs.type-line > .tab.type01 li:focus a,
body.lesson-2024 .tabs.type-line > .tab.type01 li.active a {font-weight:700;}
body.lesson-2024 .tabs.type-line > .tab.type01 li.active {border:0;}
body.lesson-2024 .tabs.type-line > .tab.type01 li.active:before {content:''; width:100%; height:2px; display:block; position:absolute; left:0; bottom:0; background-color:#8CD5D3;}

body.lesson-2024 .sub-lessons h4 {}
body.lesson-2024 .sub-lessons h4 strong {font-weight:500; font-size:16px; color:#01A39F;}
body.lesson-2024 .sub-lessons .btn-more {height:36px; padding:0 16px; border-radius:18px; display:flex; align-items:center; z-index:1; font-size:14px;}
body.lesson-2024 .sub-lessons .btn-more:before {width:8px; height:8px; margin-right:6px; position:static; display:block; background:url(../../images/subject/icon-doc-plus.svg) 0 0 no-repeat; background-size:100%; transform:rotate(45deg);}
body.lesson-2024 .sub-lessons .btn-more:after {display:none;}
body.lesson-2024 .sub-lessons .btn-more strong {font-weight:700;}

body.lesson-2024 .lesson-data .data:hover,
body.lesson-2024 .lesson-data .data:focus,
body.lesson-2024 .lesson-data .data.active,
body.lesson-2024 .lesson-data .data.active-vertical,
body.lesson-2024 .lesson-data .data.active-horizontal {border-color:#8CD5D3; background-color:#F2FAFA;}
body.lesson-2024 .lesson-data .data {padding:15px 20px; border-radius:4px;}
body.lesson-2024 .lesson-data .data a > span {display:inline-flex; align-items: center; font-weight:500;}
body.lesson-2024 .lesson-data .data .image-wrap {min-height:64px; max-height:64px; border:1px solid #ddd; display: block; background-image:url(../../images/subject/icon-no-image-default.svg); background-size:21px 18px;}
body.lesson-2024 .data.no-link .image-wrap {background-image:url(../../images/subject/icon-no-image-link.svg); background-size:25px 23px;} /* 25 23 */
body.lesson-2024 .data.no-file .image-wrap {background-image:url(../../images/subject/icon-no-image-file.svg); background-size:23px 20px;} /* 23 20 */
body.lesson-2024 .data.no-scrap .image-wrap {background-image:url(../../images/subject/icon-no-image-scrap.svg); background-size:25px 25px;} /* 25 25 */
body.lesson-2024 .data.no-image .image-wrap {background-image:url(../../images/subject/icon-no-image-image.svg); background-size:29px 24px;} /* 29 24 */
body.lesson-2024 .data.no-pdf .image-wrap {background-image:url(../../images/subject/icon-no-image-pdf.svg); background-size:24px 32px;} /* 24 32 */
body.lesson-2024 .data.aiclass .image-wrap {background-image:url(../../images/subject/logo-aiclass-logo@2x.png); background-size:62px 25px; background-position:25px 24px;} /* 24 32 */

body.lesson-2024 .lesson-data .data .image-wrap img {height: 100%; max-height: 100%; vertical-align: top; position: absolute; left: 50%; transform: translateX(-50%);}
body.lesson-2024 .lesson-data .data .title-ellipsis {font-size:16px; line-height:24px; }
body.lesson-2024 .lesson-data .data-afterimage {border-radius:4px;}
body.lesson-2024 .image-wrap {border-radius:4px;}
body.lesson-2024 .image-wrap .badge.type-round-box {min-height:20px; padding: 2px 5px 0px; left:4px; top:4px; right:auto; bottom:auto;}
body.lesson-2024 .image-wrap .image-wrap-buttons-group {position:absolute; right:4px; top:4px;}
body.lesson-2024 .image-wrap .image-wrap-buttons-group .badge {position:relative; left:auto; top:auto; right:auto; bottom:auto;}
body.lesson-2024 .image-wrap .image-wrap-buttons-group .badge.type-round-box.btn-doc-edit {width:20px; height:20px; border-radius:4px;}
body.lesson-2024 .image-wrap .image-wrap-buttons-group .badge.type-round-box.btn-doc-edit img {width:10px; height:10px;}

body.lesson-2024 .type-filter.both-type {padding:19px 30px 19px 0; gap:0;}
body.lesson-2024 .type-filter.both-type .nav-slider {flex:1;}

body.lesson-2024 .nav-slider.type-filter {padding:19px 74px;}
body.lesson-2024 .nav-slider.type-filter .swiper-slide label {padding-top:8px; padding-bottom:6px;}

.flex-item-buttons {display:flex; border-bottom: 1px solid #d2d2d2; background-color: #fafafa;}
.flex-item-buttons .nav-slider {flex:1; border:0; background:none;}
.flex-item-buttons .buttons.type01 {padding-right:30px; display:flex; align-items:center; gap:4px; }
.flex-item-buttons .buttons.type01 .tooltip-trigger {display:flex; align-items: center;}

body.lesson-2024 .button.type-icon.size-sm:disabled {background-color:#F6F6F6; border-color:#D2D2D2; opacity:1;}
body.lesson-2024 .button.type-icon.size-sm:hover {background-color:#E8F6F6; border-color:#01A39F;}
body.lesson-2024 .button.type-icon.size-sm:before {content:''; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); background-repeat:no-repeat; background-position:0 0; background-size:100%;}
body.lesson-2024 .button.type-icon.size-sm.ico-delete:before {width:12px; height:12px; background-image:url(../../images/subject/icon-delete-default.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-delete:hover:before {background-image:url(../../images/subject/icon-delete-active.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-share:before {width:13px; height:13px; background-image:url(../../images/subject/icon-share-default.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-share:hover:before {background-image:url(../../images/subject/icon-share-active.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-favorite:before {width:14px; height:14px; background-image:url(../../images/subject/icon-favorite-default.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-favorite.active {background-color:#E8F6F6; border-color:#01A39F;}
body.lesson-2024 .button.type-icon.size-sm.ico-favorite.active:before,
body.lesson-2024 .button.type-icon.size-sm.ico-favorite:hover:before {background-image:url(../../images/subject/icon-favorite-active.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-download:before {width:13px; height:13px; background-image:url(../../images/subject/icon-download-default.svg)}
body.lesson-2024 .button.type-icon.size-sm.ico-download:hover:before {background-image:url(../../images/subject/icon-download-active.svg)}

body.lesson-2024 .webui-popover-inner {margin:16px;}
body.lesson-2024 h3.webui-popover-title {margin:0 0 8px; font-size:16px; color:#000; line-height:24px; font-weight:500;}
body.lesson-2024 .webui-popover .webui-popover-content {margin:0;}
body.lesson-2024 .webui-popover .webui-popover-content .ul-dot {}
body.lesson-2024 .webui-popover .webui-popover-content .ul-dot > li {padding-left:16px; color:#838383; line-height:20px;}
body.lesson-2024 .webui-popover .webui-popover-content .ul-dot > li::before {top:8px;}

body.lesson-2024 .float-button {
  right:20px; bottom:20px;
  padding-top:40px;
  background: transparent linear-gradient(135deg, #36BAC1 0%, #02A39F 100%) 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 20px #17807D33;
  border: 1px solid #0000000A;
  font-size:11px; line-height:12px;
  z-index:1;
}
body.lesson-2024 .float-button:before {content:''; width:24px; height:21px; display:block; position:absolute; left:50%; top:16px; transform:translateX(-50%); background:url(../../images/subject/icon-folder-arrow-up.svg) 0 0 no-repeat; background-size:100%;}
body.lesson-2024 .buttons.type-rounded label {border-radius:18px;}

.txt-hidden {font-size:0; width:0; height:0; position:absolute; left:-9999px;}

body.lesson-2024 .button.size-md.type01 {min-width:76px;}
/* body.lesson-2024 .icon-button.c-black {color:#000;} */

.txt-badge {min-width:53px; height:18px; margin-left:4px; line-height:18px; text-align:center; border-radius:10px; background-color:#F4F4F4; font-size:10px; font-weight:500; color:##A4A4A4;}
.txt-badge.blue-box {border:1px solid #3577BD; background-color:#fff; color:#3577BD;}

.accordion .active .action {
  background-color: var(--color-primary-150);
}