@import url(./all-grades.css);
:root {
  --color-primary: #7547d9;
  --color-primary-bg: #f4f0fc;
  --color-primary-50: #f9fbfc;
  --color-primary-100: #f2eefb;
  --color-primary-150: #f6f2fa;
  --color-primary-200: #f3ecfb;
  --color-primary-300: #c1a7eb;
  --color-primary-400: #9555d6;
  --color-primary-600: #7547d9;
  --color-primary-700: #5f3ab1;
  --color-primary-800: #4a2d8a;
  --color-primary-disabled: #a496c4;
  --color-secondary: #58bc85;
  --color-secondary-500: #42a67e;
  --color-secondary-600: #369971;
  --button-primary: #7547d9;
  --button-primary-hover: #4a2d8a;
  --button-primary-disable: #886DC3;
  --button-secondary: #9555d6;
  --button-secondary-hover: #4a2d8a;
  --button-secondary-disable: #886DC3;
  --button-third: #58bc85;
  --button-third-hover: #42a67e;
  --button-third-disable: #369971;
  --logo-images: url("/assets/images/common/logo-high.svg");
  --logo-mteacher: url("/assets/images/high/logo-mteacher.svg");
  --bg-prd-reference: url("/assets/images/high/bg-prd-reference.png");
  --icon-star: url("/assets/images/high/icon-star.svg");
  --bg-loading: url("/assets/images/high/bg-loading.png");
}