<div id="us-div-cert-revoke" class="us-layout-cert-revoke" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-cert-revoke-title" class="us-layer-title">
        <p id="us-cert-revoke-lbl-title" class="us-layer-lbl-title"></p>
    </div>  
	<div class="us-layer-body">
    	<p id="us-div-cert-revoke-notice-lbl" class="us-layout-cert-revoke-notice-lbl"></p>
	    <div class="us-layout-cert-revoke-select">
            <div class="us-layout-cert-revoke-select-inner">
            	<ul>
					<li><input id="us-cert-revoke-radio-1" name="us-cert-revoke-radio" class="us-layout-cert-revoke-radiobox" type="radio" /><span id="us-cert-revoke-radio-title-1" for="us-cert-revoke-radio-1"></span></li>
					<li><input id="us-cert-revoke-radio-2" name="us-cert-revoke-radio" class="us-layout-cert-revoke-radiobox" type="radio" /><span id="us-cert-revoke-radio-title-2" for="us-cert-revoke-radio-2"></span></li>
					<li><input id="us-cert-revoke-radio-3" name="us-cert-revoke-radio" class="us-layout-cert-revoke-radiobox" type="radio" /><span id="us-cert-revoke-radio-title-3" for="us-cert-revoke-radio-3"></span></li>
				</ul>
            </div>
	    </div>
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-cert-revoke-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-cert-revoke-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>           
	</div>
    <button id="us-cert-revoke-cls-btn" class="us-layer-cls-btn" type="button"><img id="us-cert-revoke-cls-btn-img" /></button>    
</div>