<div id="unicrsv3-export" oncontextmenu="return false" onselectstart="return false">
	<!-- header -->
	<div id="unicrsv3-header">
		<div id="unicrsv3-title" class="title"> </div>
		<h1><img id="unicrsv3-log" alt=""></h1>
	</div>
	<!-- //header -->
	<!-- content -->
	<div id="unicrsv3-content">
		<ul>
			<li class="unicrsv3-export-code">
				<div id="unicrsv3-code-text" class="unicrsv3-sub-title col1 floL"> </div>
				<div class="col2 floL">
					<input id="unicrsv3-auth1" type="text" class="unicrsv3-sub-title" autocomplete="off" title="승인번호 앞 4자리"/>
					<label class="unicrsv3-sub-title"> - </label> 
					<input id="unicrsv3-auth2" type="text" class="unicrsv3-sub-title" autocomplete="off" title="승인번호 가운데 4자리"/>
					<label class="unicrsv3-sub-title"> - </label> 
					<input id="unicrsv3-auth3" type="text" class="unicrsv3-sub-title" autocomplete="off" title="승인번호 뒤 5자리"/>
				</div>
				<div class="clrB"> </div>
			</li>
			<li id="unicrsv3-qrcode" class="unicrsv3-qrcode">
				<div id="unicrsv3-qrcode-text" class="unicrsv3-sub-title col1 floL"> </div>
				<div class="gap floL"> </div>
				<div id="unicrsv3-qrcode-target" class="col2 floL"> </div>
				<div class="clrB"> </div>
			</li>
		</ul>
	</div>
	<!-- //content -->
	<!-- explain -->
	<div id="unicrsv3-explain">	
		<h2 id="unicrsv3-noti-title" class="unicrsv3-font"> </h2>
		<ol>
			<li id="unicrsv3-noti-sub1" class="unicrsv3-font"> </li>
			<li id="unicrsv3-noti-sub2" class="unicrsv3-font"> </li>
		</ol>
	</div>
	<!-- //explain -->
	<!-- tail -->
	<div id="unicrsv3-export-tail">
		<div id="unicrsv3-ver-text" class="unicrsv3-ver unicrsv3-font floL"> </div>
		<div class="unicrsv3-button floR">
			<input id="unicrsv3-cancel" type="button" class="unicrsv3-font" /> 
		</div>
	</div>
	<!-- //tail -->
</div>
