<div id="us-div-cert-select" class="us-layout-cert-select-embed us-layout-embed-type3" oncontextmenu="return false" onselectstart="return false">
	<div id="us-div-main" class="us-layout-embed-main">
    	<div class="us-layout-embed-title">
		<p id="us-lbl-title" class="us-layout-embed-lbl-title"></p>
            <textarea id="us-cursor-disabled" class="us-cursor-disabled" disabled="disabled"></textarea>
        </div>
	    <div class="us-layout-mid">
            <div id="us-div-storage" class="us-layout-embed-storage">    
                <fieldset class="us-layout-storage-border">
                    <legend id="us-legend-storage"></legend>
                    <div id="us-storage-wrap" class="us-layout-storage-wrap">              
                    	<div class="us-layout-storage-embed-inner">
                        <ul id="us-storage-btn-list"></ul>
                        <div id="us-embed-storage-more">
                            <button id="us-storage-more-btn" class="us-layout-storage-more" type="button">
	                        	<span class="us-display-b"><img id="us-storage-more-btn-img" /></span>
	                        </button>
                        </div>
                    </div>    
                    </div>    
                </fieldset>                    
            </div>    
            <div id="us-div-list" class="us-layout-list">
                <div id="us-div-list-inner" class="us-layout-embed-list-inner">
                	<div id="us-div-list-load" class="us-layout-list-load">
	            		<div>
	            			<span class="us-layout-cert-processing-img"><img id="us-cert-processing-img" class="us-layout-cert-processing-img"></span>
	    					<span id="us-cert-processing-text" class="us-layout-cert-processing-text"></span>
	            		</div>
	            	</div>
                    <table id="us-tbl-list" class="us-layout-tbl-list">
                        <caption id="us-tbl-list-caption" class="us-layout-tbl-list-caption"> </caption>
                        <thead><tr><th id="us-tbl-list-th" class="us-layout-tbl-list-th"> </th></tr></thead>
                        <tbody><tr><td id="us-tbl-list-td" class="us-layout-tbl-list-td"> </td></tr></tbody>
                        <tfoot><tr><td> </td></tr></tfoot>
                    </table>
                </div>
            </div>
	        <div id="us-div-cert" class="us-layout-embed-cert">
                <div id="us-div-pw" class="us-layout-embed-pw">
                    <span class="us-layout-lbl-pw" for="us-pw-text">
                        <span id="us-lbl-pw" class="us-pw-text1"></span>
                        <span id="us-lbl-pw2" class="us-pw-text2"></span>
                    </span>
                    <input id="us-pw-text" class="us-layout-pw-text" type="password" />
                    <input id="us-confirm-btn" class="us-normal-btn btn-confirm h35" type="button" />
                </div>
                
			</div>
            <div class="us-layout-hidden">
                <input id="us-file-search-hidden" class="us-layout-file-search-hidden" type="file" accept="application/x-pkcs12" />
            </div>
	    </div>
        <div class="us-layout-embed-bottom">
        	<div id="us-div-btns" class="us-layout-btns">
	            <ul>
	                <li><input id="us-cert-search-btn" class="us-layout-normal-btn" type="button" /></li>
	                <li><input id="us-cert-proposal-btn" class="us-layout-normal-btn" type="button" /></li>
	                <li><input id="us-cert-view-btn" class="us-layout-normal-btn" type="button" /></li>
	                <li><input id="us-cert-verify-btn" class="us-layout-normal-btn" type="button" /></li>
	            </ul>
	        </div>
        </div>                    
	</div>      
</div>