<div id="us-div-cert-select" class="us-layout-cert-select display-show" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-title" class="us-layout-title">
        <p id="us-lbl-title" class="us-layout-lbl-title"></p>
        <textarea title="" id="us-cursor-disabled" class="us-cursor-disabled" disabled="disabled"> </textarea>
        <p class="us-layout-lbl-icon"><img id="us-logo-img" /></p>
        <div id="us-div-logo" class="us-layout-logo"></div>            
    </div>
    <div class="us-layout-mid">
		<h5 id='us-h5-storage' class='us-h5-middle-title-storage'></h5>
        <div id="us-div-storage" class="us-layout-storage">
            <fieldset class="us-layout-storage-border">
                <legend id="us-legend-storage"></legend>
                <div id="us-storage-wrap" class="us-layout-storage-wrap">    
                    <ul id="us-storage-btn-list"> </ul>
                    <div id="us-storage-more">
                        <button id="us-storage-more-btn" class="us-layout-storage-more" type="button">
                        	<span class="us-display-b"><img id="us-storage-more-btn-img" /></span>
                        </button>
                    </div>
                </div>    
            </fieldset>
        </div>
		<h5 id='us-h5-list' class='us-h5-middle-title-list'></h5>
        <div id="us-div-list" class="us-layout-list">
            <div id="us-div-list-inner" class="us-layout-list-inner">
            	<div id="us-div-list-load" class="us-layout-list-load">
            		<div>
            			<span class="us-layout-cert-processing-img"><img alt="" id="us-cert-processing-img" class="us-layout-cert-processing-img"></span>
    					<span id="us-cert-processing-text" class="us-layout-cert-processing-text"></span>
            		</div>
            	</div>
	    		<table id="us-tbl-list" class="us-layout-tbl-list">
					<caption id="us-tbl-list-caption" class="us-layout-tbl-list-caption"> </caption>
	    		</table>
            </div>
        </div>
        <div id="us-div-cert" class="us-layout-cert">
            <div id="us-div-pw" class="us-layout-pw">
                <span class="us-layout-lbl-pw" for="us-pw-text">
                	<span id="us-lbl-pw" class="us-pw-text1"></span>
                	<span id="us-lbl-pw2" class="us-pw-text2"></span>
                </span>
		    <form id="us-keyboard-secure-frm" name="us-keyboard-secure-frm" method="post" onsubmit="return false">
                	<input id="us-pw-text" name="us-pw-text" class="us-layout-pw-text" type="password" autocomplete="off" data-enc="on" e2e_type="11"/>
                	<div class="ly_v2 " id="us-err-msg-capslock" style="display: none;">
						<div class="ly_box">
							<strong>Caps Lock</strong> <span id="us-err-msg-capslock-text"></span>
						</div>
						<span class="sp ly_point"></span>
					</div>                	
            </form>
            </div>
            <div id="us-div-btns" class="us-layout-bottom-btns">
                <ul>
                	<li id="enabledpw" class="btn-confirm"></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="us-div-bottom" class="us-layout-bottom">
        <div id="us-lbl-notice" class="us-layout-lbl-notice"></div>
        <div id="us-div-func-btns" class="us-layout-btns">
            <ul>
                <li><input id="us-cert-proposal-btn" class="us-layout-normal-btn" type="button" /></li>
                <li><input id="us-cert-search-btn" class="us-layout-normal-btn" type="button" /></li>
                <li><input id="us-cert-view-btn" class="us-layout-normal-btn" type="button" /></li>
                <li><input id="us-cert-verify-btn" class="us-layout-normal-btn" type="button" /></li>
                <li><input id="us-cert-manage-btn" class="us-layout-normal-btn" type="button" /></li>                
            </ul>
        </div>
    </div>
    <button id="us-cls-img-btn" class="us-layout-cls-btn" type="button"><img id="us-cls-btn-img" /></button>
    <div class="us-layout-hidden">
        <input id="us-file-search-hidden" class="us-layout-file-search-hidden" type="file" accept="application/x-pkcs12" />
    </div>
</div>