<div id="us-div-cert-manage" class="us-layout-cert-manage" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-cert-manage-title" class="us-layout-title">
        <p id="us-cert-manage-lbl-title" class="us-layout-lbl-title"></p>
        <textarea title="" id="us-cursor-disabled" class="us-cursor-disabled" disabled="disabled"> </textarea>
        <p class="us-layout-lbl-icon"><img id="us-cert-manage-logo-img" /></p>
        <div id="us-div-cert-manage-logo" class="us-layout-logo"></div>            
    </div>
        
	<div class="us-layout-mid">
		<h5 id='us-h5-storage' class='us-h5-middle-title-storage'></h5>
        <div id="us-cert-manage-div-storage" class="us-layout-storage">
            <fieldset class="us-layout-storage-border">
                <legend id="us-cert-manage-legend-storage"></legend>
                <div id="us-cert-manage-storage-wrap" class="us-layout-storage-wrap">    
                    <ul id="us-cert-manage-storage-btn-list"> </ul>
                    <div id="us-cert-manage-storage-more">
                        <button id="us-cert-manage-storage-more-btn" class="us-layout-storage-more" type="button">
                        	<span class="us-display-b"><img id="us-cert-manage-storage-more-btn-img" /></span>
                        </button>
                    </div>
                </div>    
            </fieldset>
        </div>    
		<h5 id='us-h5-list' class='us-h5-middle-title-list'></h5>
	    <div id="us-div-cert-manage-list" class="us-layout-list">
	    	<div id="us-div-cert-manage-list-inner" class="us-layout-list-inner">
	    		<div id="us-div-list-load" class="us-layout-list-load">
            		<div>
            			<span class="us-layout-cert-processing-img"><img alt="" id="us-cert-processing-img" class="us-layout-cert-processing-img"></span>
    					<span id="us-cert-processing-text" class="us-layout-cert-processing-text"></span>
            		</div>
            	</div>
	    		<table id="us-cert-manage-tbl-list" class="us-layout-tbl-list">
					<caption id="us-cert-manage-tbl-list-caption" class="us-layout-tbl-list-caption"> </caption>
	    		</table>
	    	</div>
	    </div>
	    <div id="us-div-cert-manage-btns" class="us-layout-cert-manage-btns">
            <ul>
                <li><input id="us-cert-manage-cert-view-btn" class="us-layout-normal-btn" type="button" /></li>
                <li class="li-bar"><input id="us-cert-manage-pw-change-btn" class="us-layout-normal-btn" type="button" /></li>
                <li class="li-bar"><input id="us-cert-manage-cert-delete-btn" class="us-layout-normal-btn" type="button" /></li>
                <li class="li-lp"><input id="us-cert-manage-cert-copy-btn" class="us-layout-normal-btn" type="button" /></li>
                <li class="li-lp"><input id="us-cert-manage-get-cert-btn" class="us-layout-normal-btn" type="button" /></li>
                <li><input id="us-cert-manage-put-cert-out-btn" class="us-layout-normal-btn" type="button" /></li>
            </ul>
	    </div>
		<div id="us-div-cloud-manage-btns">
             <div class="us-layout-cert-manage-btns-sub">
				<ul>
					<li><input id="us-cloud-manage-pin-change-btn" class="us-layout-normal-btn" type="button" /></li>
					<li class="li-lp"><input id="us-cloud-manage-delete-btn" class="us-layout-normal-btn" type="button" /></li>
					<li class="li-lp"><input id="us-cloud-manage-unlock-btn" class="us-layout-normal-btn" type="button" /></li>
					<li class="li-lp"><input id="us-cloud-manage-get-cert-btn" class="us-layout-normal-btn" type="button" /></li>
					<li class="li-lp"><input id="us-cloud-manage-put-cert-btn" class="us-layout-normal-btn" type="button" /></li>
				</ul>
			</div>
			<div class="us-layout-cert-manage-btns-sub">
				<ul>
					<li><input id="us-cloud-manage-cert-history-btn" class="us-layout-normal-btn" type="button" /></li>
					<li class="li-lp"><input id="us-cloud-manage-disconnect-btn" class="us-layout-normal-btn" type="button" /></li>
					<li class="li-lp"><input id="us-cloud-manage-delete-auto-connect-btn" class="us-layout-normal-btn" type="button" /></li>
					<li class="li-lp"><input id="us-cloud-manage-delete-account-btn" class="us-layout-normal-btn" type="button" /></li>
				</ul>
			</div>
	    </div>
	    <div id="us-div-cert-manage-detail" class="us-layout-cert-manage-detail">
            <fieldset id="us-fieldset-cert-manage">
            	<legend id="us-fieldset-cert-manage-title"> </legend>
            	<div class="us-div-cert-manage-detail-storage" style="float:left; width: 15%; ">
            		<span class="us-img-storage"><img id="us-cert-manage-img-current-storage"></span>
	            	<span class="us-layout-current-storage" id="us-cert-manage-lbl-current-storage"> </span>
            	</div>
            	<div class="us-layout-cert-manage-detail-box" style="float:left; width: 85%;">
            		<div class="us-div-cert-manage-detail-box-btns" style="float:right;">
            			<input type="button" class="us-layout-big-btn" id="us-cert-manage-detail-view-btn">
            		</div>
            		<div id="us-layout-cert-manage-detail-box-subject"></div>
            		<div id="us-layout-cert-manage-detail-box-expire">
            			<span id="us-layout-cert-manage-detail-box-expire-lbl"></span>
            			<span id="us-layout-cert-manage-detail-box-expire-data"></span>
            		</div>
            		<div id="us-layout-cert-manage-detail-box-savepath">
            			<span id="us-layout-cert-manage-detail-box-savepath-lbl"></span>
            			<span id="us-layout-cert-manage-detail-box-savepath-data"></span>
            		</div>
            	</div>
            </fieldset>
	    </div>
	</div>
    <div id="us-cert-manage-div-bottom" class="us-layout-bottom">
        <div id="us-cert-manage-lbl-notice" class="us-layout-lbl-notice"></div>
        <div id="us-cert-manage-bottom-btns" class="us-layout-bottom-btns">
            <ul>
            	<li class="us-li-first"><input id="us-cert-manage-sw-info-btn" class="us-normal-btn btn-confirm2" type="button" /></li>
                <li><input id="us-cert-manage-cls-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>
    </div>
    <button id="us-cert-manage-cls-img-btn" class="us-layout-cls-btn" type="button"><img id="us-cert-manage-cls-btn-img" /></button>        
    <div class="us-layout-hidden">
        <input id="us-cert-manage-file-search-hidden" class="us-layout-file-search-hidden" type="file" accept="application/x-pkcs12" />
    </div>
</div>