<div id="us-div-cert-issue" class="us-layout-cert-issue" oncontextmenu="return false" onselectstart="return false">
	<input type="hidden" id="us-input-check-type" value="pf">
	<div id="us-div-cert-issue-title" class="us-layer-title">
        <p id="us-cert-issue-lbl-title" class="us-layer-lbl-title"></p>
        <textarea title="" id="us-cursor-disabled" class="us-cursor-disabled" disabled="disabled"> </textarea>
    </div>  
	<div class="us-layer-body">
	    <div class="us-layout-cert-issue-notice">
	    	<p id="us-cert-issue-notice-lbl" class="us-layout-cert-issue-notice-lbl"></p>
	    </div>
	    <div class="us-layout-cert-issue-input">
        	<dl>
            	<dt><span id="us-cert-issue-ref-number-lbl" class="us-layout-cert-issue-lbl" for="us-cert-issue-ref-number-textbox"></span></dt>
                <dd><input id="us-cert-issue-ref-number-textbox" class="us-layout-cert-issue-textbox" type="text" /></dd>
			</dl>
        	<dl>
            	<dt><span id="us-cert-issue-auth-code-lbl" class="us-layout-cert-issue-lbl" for="us-cert-issue-auth-code-textbox"></span></dt>
                <dd><input id="us-cert-issue-auth-code-textbox" class="us-layout-cert-issue-textbox" type="text" /></dd>
			</dl>
        </div>        
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-cert-issue-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-cert-issue-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>          
	</div>
    <button id="us-cert-issue-cls-img-btn" class="us-layer-cls-btn" type="button"><img id="us-cert-issue-cls-btn-img" /></button>    
</div>
