<div id="us-div-cert-list" class="us-layout-cert-list" oncontextmenu="return false" onselectstart="return false">
	<div id="us-div-list-title" class="us-layer-title">
		<p id="us-list-lbl-title" class="us-layer-lbl-title"></p>
	</div>
	<div id="us-div-list-body" class="us-layer-body">
		<div id="us-div-cert-list-lbl-notice" class="us-layout-lbl-notice"></div>	
		<div style="height: 15px;"></div>	
		<div id="us-div-cert-list" class="us-layout-list">
			<div id="us-div-cert-list-inner" class="us-layout-list-inner">
				<div id="us-div-cert-list-load" class="us-layout-list-load">
					<div>
						<span class="us-layout-cert-processing-img"><img id="us-cert-processing-img" class="us-layout-cert-processing-img"></span>
						<span id="us-cert-processing-text" class="us-layout-cert-processing-text"></span>
					</div>
				</div>
				<table id="us-tbl-cert-list" class="us-layout-tbl-list">
					<caption id="us-tbl-cert-list-caption" class="us-layout-tbl-list-caption"></caption>
				</table>
			</div>
		</div>
		<div style="height: 15px;"></div>
		<div class="us-layout-btns" id="us-div-btns">
            <ul>
                <li><input type="button" class="us-layout-normal-btn" id="us-cert-view-btn" /></li>
				<li class="last-btn"><input id="us-cls-btn" class="us-normal-btn" type="button" /></li>
				<li class="last-btn cls-btn"><input type="button" class="us-normal-btn btn-confirm" id="us-cert-list-confirm-btn" /></li>
            </ul>
        </div>
	</div>
	<button id="us-cert-list-cls-img-btn" class="us-layer-cls-btn" type="button">
		<img id="us-cert-list-cls-btn-img" />
	</button>
</div>