<div id="us-div-change-pin" class="us-layout-change-pin" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-change-pin-title" class="us-layer-title">
        <p id="us-change-pin-lbl-title" class="us-layer-lbl-title"> </p>
    </div>  
	<div class="us-layer-body">
	    <div class="us-layout-change-password-input">
        	<dl>
            	<dt><span id="us-change-pin-origin-lbl" class="us-layout-change-password-input-lbl" for="us-change-pin-origin-textbox"> </span></dt>
                <dd class="us-line-style1">
						<input id="us-change-pin-origin-textbox" name="us-change-pin-origin-textbox" class="us-layout-change-password-input-textbox" type="password" />
                	</dd>
			</dl>
        	<dl>
            	<dt class="password-bold-title us-tpd10"><span id="us-change-pin-new-first-lbl" class="us-layout-change-password-input-lbl" for="us-change-pin-new-first-textbox"> </span></dt>
                <dd class="us-line-style2">
           			<input id="us-change-pin-new-first-textbox" name="us-change-pin-new-first-textbox" class="us-layout-change-password-input-textbox" type="password" />
                </dd>
				<dd>
                	<div class="us-password-check">
                    	<p class="us-password-check-arrow"> </p>
                    	<div class="us-password-check-inner">
                        	<div class="us-password-check-box">
								<!--p id="us-change-password-check-text1" class="txt"> </p-->
                        		<ul>
                                    <li id="us-change-pin-check-rule1" class=""> </li>
                                    <li id="us-change-pin-check-rule2" class=""> </li>
                                    <li id="us-change-pin-check-rule3" class=""> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </dd>
			</dl>
        	<dl>
            	<dt class="password-bold-title"><span id="us-change-pin-new-second-lbl" class="us-layout-change-password-input-lbl" for="us-change-pin-new-second-textbox"> </span></dt>
                <dd>
               		<input id="us-change-pin-new-second-textbox" name="us-change-pin-new-second-textbox" class="us-layout-change-password-input-textbox" type="password" />
                </dd>
			</dl>
        </div>
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-change-pin-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-change-pin-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>        
	</div>
    <button id="us-change-pin-cls-img-btn" class="us-layer-cls-btn" type="button"><img id="us-change-pin-cls-btn-img" /></button>
</div>
