<div id="us-div-cloud-Info" class="us-layout-new-password" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-cloud-info-title" class="us-layer-title">
        <p id="us-cloud-info-lbl-title" class="us-layer-lbl-title"> </p>
    </div>  
	<div class="us-layer-body">
		<div class="us-layout-cloud-list-notice">
			<p id="us-cloud-info-notice-text" class="us-layout-cloud-list-notice-text"> </p>
		</div>
		<div id='us-cloud-info-list' class='us-cloud-list-pnl'>
			<ul class="us-cloud-inner-list">
			</ul>
		<div>
	</div>
    <button id="us-cloud-info-cls-img-btn" class="us-layer-cls-btn" type="button"><img id="us-cloud-info-cls-btn-img" /></button>        
</div>
