<div id="us-div-drive-select" class="us-layout-drive-select" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-drive-select-title" class="us-layer-title">
        <p id="us-drive-select-lbl-title" class="us-layer-lbl-title"></p>
    </div>   
    <div class="us-layer-body">
		<div class="us-layout-drive-l">
        	<div class="us-layout-drive-select-img">
            	<img alt='' id="us-drive-select-disk-img" />
                <span id="us-drive-select-disk-name" class="us-storage-name"></span>
            </div>
        </div>
		<div class="us-layout-drive-r">
		    <span id="us-drive-select-disk-lbl" class="us-layout-drive-select-disk-lbl" for="us-drive-select-disk-select"></span>
		    <select id="us-drive-select-disk-select" class="us-layout-drive-select-disk-select"></select>
        </div>
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-drive-select-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-drive-select-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>
	</div>
    <button id="us-drive-select-cls-img-btn" class="us-layer-cls-btn" type="button"><img id="us-drive-select-cls-btn-img" /></button>         
</div>
