<div id="es-div-guide" class="es-div-guide" oncontextmenu="return false" onselectstart="return false">
<img id="guide-img-close" class="guide-img-close" />
	<div id='browsersign-div-guide'>
		<div id="browsersign-guide-lbl-title" class="browsersign-es-lbl-title"></div>
		<p id="browsersign-join-step-1" class="layer1_p1"></p>
		<img id="browsersign-img-next1" class="img-next">
		<p id="browsersign-join-step-2" class="layer1_p1"></p>
		<img id="browsersign-img-next2" class="img-next">
		<p id="browsersign-join-step-3" class="layer1_p1"></p>
		<img id="browsersign-img-next3" class="img-next">
		<p id="browsersign-join-step-4" class="layer1_p1"></p>
		<p id="browsersign-save-cert-notice" class="layer1_p2"></p>
		<h4 id="browsersign-save-sert-subject"></h4>
		<ol>
			<li><div id="browsersign-save-cert-step-1"></div></li>
		</ol>
	</div>
	<div id='cloudsign-div-guide'>
		<div id="cloudsign-guide-lbl-title" class="cloudsign-es-lbl-title"></div>
		<h5 id="cloudsign-save-cert-subject"></h5>
		<p id="cloudsign-join-step-1" class="layer1_p1"></p>
		<img id="cloudsign-img-next1" class="img-next">
		<p id="cloudsign-join-step-2" class="layer1_p1"></p>
		<p class="layer1_p3"> </p>
		<h5 id="cloudsign-saved-cert-subject"></h5>
		<p id="cloudsign-saved-step-1" class="layer1_p1"></p>
		<img id="cloudsign-img-next2" class="img-next">
		<p id="cloudsign-saved-step-2" class="layer1_p1"></p>
		<img id="cloudsign-img-next3" class="img-next">
		<p id="cloudsign-saved-step-3" class="layer1_p1"></p>
		<img id="cloudsign-img-next4" class="img-next">
		<p id="cloudsign-saved-step-4" class="layer1_p1"></p>
		<p id="cloudsign-detail-link" class="layer1_p3"></p>
	</div>
</div>