<div id="us-div-mobile-select" class="us-layout-mobile-select" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-mobile-select-title" class="us-layer-title">
        <p id="us-mobile-select-lbl-title" class="us-layer-lbl-title"></p>
    </div> 
	<div class="us-layer-body">
    	<p id="us-mobile-select-notice-lbl" class="us-layout-storage-select-notice-lbl"></p>
        <div id="us-div-mobile-select-body" class="us-layout-storage-select-body">    
            <div class="us-layout-storage-select-inner">
                <div class="us-layout-storage-select-list">
                    <ul id="us-btn-mobile-btn-list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-mobile-select-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-mobile-select-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>            
	</div>
    <button id="us-mobile-select-cls-img-btn" class="us-layer-cls-btn" type="button"><img id="us-mobile-select-cls-btn-img" /></button>
</div>