<div id="us-div-new-pin" class="us-layout-new-password" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-new-pin-title" class="us-layer-title">
        <p id="us-new-pin-lbl-title" class="us-layer-lbl-title"> </p>
    </div>  
	<div class="us-layer-body">
	    <div class="us-layout-new-password-input">
        	<dl>
            	<dt><span id="us-new-pin-first-lbl" class="us-layout-new-password-input-lbl" for="us-new-password-first-textbox"> </span></dt>
                <dd>
               		<input id="us-new-pin-first-textbox" name="us-new-pin-first-textbox" class="us-layout-new-password-input-textbox" type="password" />
                </dd>
                <dd>
                	<div class="us-password-check">
                    	<p class="us-password-check-arrow"> </p>
                    	<div class="us-password-check-inner">
                        	<div class="us-password-check-box">
								<!--p id="us-password-check-text1" class="txt"> </p-->
                        		<ul>
                        			<li id="us-pin-check-rule1" class=""> </li>
                                    <li id="us-pin-check-rule2" class=""> </li>
                                    <li id="us-pin-check-rule3" class=""> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </dd>
			</dl>
        	<dl>
            	<dt><span id="us-new-pin-second-lbl" class="us-layout-new-password-input-lbl" for="us-new-pin-second-textbox"> </span></dt>
                <dd>
					<input id="us-new-pin-second-textbox" name="us-new-pin-second-textbox"  class="us-layout-new-password-input-textbox" type="password" />
				</dd>
			</dl>
        </div>
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-new-pin-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-new-pin-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>           
	</div>
    <button id="us-new-pin-cls-img-btn" class="us-layer-cls-btn" type="button"><img id="us-new-pin-cls-btn-img" /></button>        
</div>
