<div id="us-div-new-password" class="us-layout-new-password" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-new-password-title" class="us-layer-title">
        <p id="us-new-password-lbl-title" class="us-layer-lbl-title"></p>
    </div>  
	<div class="us-layer-body">
	    <div class="us-layout-new-password-notice">    
            <div class="us-layout-new-password-notice-l">
                <div class="us-layout-new-password-img"><img id="us-new-password-lock-img" /></div>
            </div>
            <div class="us-layout-new-password-notice-r">    
            	<p id="us-new-password-notice-text" class="us-layout-new-password-notice-text"></p>
                <p id="us-new-password-notice-text2" class="us-layout-new-password-notice-text2"></p>
            </div>
		</div>
	    <div class="us-layout-new-password-input">
        	<dl>
            	<dt><span id="us-new-password-first-lbl" class="us-layout-new-password-input-lbl" for="us-new-password-first-textbox"></span></dt>
                <dd><input id="us-new-password-first-textbox" class="us-layout-new-password-input-textbox" type="password" /></dd>
			</dl>
        	<dl>
            	<dt><span id="us-new-password-second-lbl" class="us-layout-new-password-input-lbl" for="us-new-password-second-textbox"></span></dt>
                <dd><input id="us-new-password-second-textbox" class="us-layout-new-password-input-textbox" type="password" /></dd>
			</dl>
        </div>
	    <div class="us-layout-new-password-warning">
	    	<div id="us-new-password-warning-text" class="us-layout-new-password-warning-text"></div>
	    </div>    
        
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-new-password-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-new-password-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>           
	</div>
    <button id="us-new-password-cls-img-btn" class="us-layer-cls-btn" type="button"><img id="us-new-password-cls-btn-img" /></button>        
</div>
