<div id="us-div-new-password" class="us-layout-new-password" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-new-password-title" class="us-layer-title">
        <p id="us-new-password-lbl-title" class="us-layer-lbl-title"> </p>
    </div>  
	<div class="us-layer-body">
	    <div class="us-layout-new-password-notice">    
            <div class="us-layout-new-password-notice-l">
                <div class="us-layout-new-password-img"><img id="us-new-password-lock-img" /></div>
            </div>
            <div class="us-layout-new-password-notice-r">    
            	<p id="us-new-password-notice-text" class="us-layout-new-password-notice-text"> </p>
                <p id="us-new-password-notice-text2" class="us-layout-new-password-notice-text2"> </p>
            </div>
		</div>
	    <div class="us-layout-new-password-input">
        	<dl>
            	<dt><span id="us-new-password-first-lbl" class="us-layout-new-password-input-lbl" for="us-new-password-first-textbox"> </span></dt>
                <dd>
                	<form id="us-keyboard-secure-frm" name="us-keyboard-secure-frm" method="post" onsubmit="return false">
                		<input id="us-new-password-first-textbox" name="us-new-password-first-textbox" class="us-layout-new-password-input-textbox" type="password" autocomplete="off" data-enc="on" e2e_type="11"/>
	                	<div class="ly_v2 ly_new_password_v2" id="us-new-password-err-msg-capslock" style="display: none;">
							<div class="ly_box">
								<strong>Caps Lock</strong> <span id="us-new-password-err-msg-capslock-text"></span>
							</div>
							<span class="sp ly_point"></span>
						</div>                  		
                	</form>
                </dd>
                <dd>
                	<div class="us-password-check">
                    	<p class="us-password-check-arrow"> </p>
                    	<div class="us-password-check-inner">
                        	<div class="us-password-check-box">
								<!--p id="us-password-check-text1" class="txt"> </p-->
                        		<ul>
                        			<li id="us-password-check-rule1" class=""> </li>
                                    <li id="us-password-check-rule2" class=""> </li>
                                    <li id="us-password-check-rule3" class="check"> </li>
                                    <li id="us-password-check-rule4" class="check"> </li>
                                    <li id="us-password-check-rule5" class="check"> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </dd>
			</dl>
        	<dl>
            	<dt><span id="us-new-password-second-lbl" class="us-layout-new-password-input-lbl" for="us-new-password-second-textbox"> </span></dt>
                <dd><form id="us-keyboard-secure-frm2" name="us-keyboard-secure-frm2" method="post" onsubmit="return false">
						<input id="us-new-password-second-textbox" name="us-new-password-second-textbox"  class="us-layout-new-password-input-textbox" type="password" autocomplete="off" data-enc="on" e2e_type="11"/>
					</form>
				</dd>
			</dl>
        </div>
	    <div class="us-layout-new-password-warning">
	    	<div id="us-new-password-warning-text" class="us-layout-new-password-warning-text"> </div>
	    </div>    
        
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-new-password-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-new-password-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>           
	</div>
    <button id="us-new-password-cls-img-btn" class="us-layer-cls-btn" type="button"><img id="us-new-password-cls-btn-img" /></button>        
</div>
