<div id="us-div-notice" class="us-layout-cert-verify" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-notice-title" class="us-layer-title">
        <p id="us-notice-lbl-title" class="us-layer-lbl-title"></p>
    </div>   
    <div class="us-layer-body">
	    <p id="us-notice-lbl" class="us-layout-cert-verify-noti-lbl"></p>
        <div class="us-layer-btns"><input id="us-notice-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></div>
	</div>
    <button id="us-notice-cls-img-btn" class="us-layer-cls-btn" type="button"><img id="us-notice-cls-btn-img" /></button>
</div>
