<div id="us-div-password" class="us-layout-password" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-password-title" class="us-layer-title">
        <p id="us-password-lbl-title" class="us-layer-lbl-title"></p>
    </div>  
	<div class="us-layer-body">
	    <div class="us-layout-password-body">
            <div class="us-layout-password-body-l">
                <div class="us-layout-password-img"><img id="us-password-cert-img" /></div>
            </div>
            <div class="us-layout-password-body-r">    
                <span id="us-password-notice-text" class="us-layout-password-notice-text" for="us-password-input-textbox"></span>
                <div class="us-layout-password-input-part">
                	<form id="us-keyboard-secure-frm" name="us-keyboard-secure-frm" method="post" onsubmit="return false">
                		<input id="us-password-input-textbox" name="us-password-input-textbox" class="us-layout-password-input-textbox" type="password" autocomplete="off" data-enc="on" e2e_type="11"/>
                		<div class="ly_v2 ly_pin_v2" id="us-pwd-err-msg-capslock" style="display: none;">
							<div class="ly_box">
								<strong>Caps Lock</strong> <span id="us-pwd-err-msg-capslock-text"></span>
							</div>
							<span class="sp ly_point"></span>
						</div> 
                	</form>
                </div>
            </div>
        </div>        
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-password-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-password-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>            
	</div>
    <button id="us-password-cls-btn" class="us-layer-cls-btn" type="button"><img id="us-password-cls-btn-img" /></button>
</div>
