<div id="us-div-phoneNumber" class="us-layout-cs-phoneNumber" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-title" class="us-layer-title">
        <p id="us-lbl-title" class="us-layer-lbl-title"></p>
    </div>  
	<div class="us-layer-body" style="padding: 13px;">
    	<div class="us-layout-content">
    		<div id="us-div-subject" class="us-div-subject pNumber"></div>
    		<div id="us-div-description" class="us-div-discription pNumber"></div>
    		<div id="us-div-form-wrap" class="txt-center">
    			<input type="text" class="us-input-text" id="us-phoneNumber-pn1" maxlength="3">
    			<div class="bar">-</div>
    			<input type="text" class="us-input-text" id="us-phoneNumber-pn2" maxlength="4">
    			<div class="bar">-</div>
    			<input type="text" class="us-input-text" id="us-phoneNumber-pn3" maxlength="4">
    		</div>
    		<div id="us-div-fnc-rememver" class="us-div-remember">
    			<input type="checkbox" id="us-phoneNumber-remember-cb"><span id="us-phoneNumber-remember"></span>
    		</div>
    	</div>
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>        
	</div>
    <button id="us-cls-btn" class="us-layer-cls-btn" type="button"><img id="us-cls-btn-img" /></button>
</div>
