<div id="us-div-pin" class="us-layout-pin" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-pin-title" class="us-layer-title">
        <p id="us-pin-lbl-title" class="us-layer-lbl-title"></p>
    </div>  
	<div class="us-layer-body">
    	<div class="us-layout-pin-body">
            <div class="us-layout-pin-body-l">
                <div class="us-layout-pin-img">
                    <img id="us-pin-sectoken-img" />
                    <span id="us-pin-sectoken-name" class="us-storage-name"></span>
                </div>
            </div>
            <div class="us-layout-pin-body-r">
                <span id="us-pin-notice-text" class="us-layout-pin-notice-text" for="us-pin-input-textbox"></span>
                <form id="us-keyboard-secure-frm" name="us-keyboard-secure-frm" method="post" onsubmit="return false">
                	<input id="us-pin-input-textbox" name="us-pin-input" class="us-layout-pin-input-textbox" type="password" autocomplete="off" data-enc="on" e2e_type="11"/>
                	<div class="ly_v2 ly_pin_v2" id="us-pin-err-msg-capslock" style="display: none;">
						<div class="ly_box">
							<strong>Caps Lock</strong> <span id="us-pin-err-msg-capslock-text"></span>
						</div>
						<span class="sp ly_point"></span>
					</div>  
                </form>
            </div>    
        </div>            
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-pin-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-pin-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>        
	</div>
    <button id="us-pin-cls-btn" class="us-layer-cls-btn" type="button"><img id="us-pin-cls-btn-img" /></button>
</div>
