<div id="us-div-secure-mail" class="us-layout-secure-mail" style="display: block;" oncontextmenu="return false" onselectstart="return false">
	<div id="us-div-secure-mail-main" class="us-layout-secure-mail-main">
	    <div id="us-div-secure-mail-title" class="us-layout-secure-mail-title">
	    	<table><tr>
    			<td class="us-layout-secure-mail-title-tbl-left">
		    		<span id="us-secure-mail-lbl-title" class="us-layout-secure-mail-lbl-title"> </span>
	    		</td>
	    		<td class="us-layout-secure-mail-title-tbl-right">
	    			<button id="us-secure-mail-cls-img-btn" class="us-layout-secure-mail-cls-btn" type="button"><img id="us-secure-mail-cls-btn-img"></button>
	    		</td>
	    	</tr></table>
	    </div>
	    <div id="us-div-secure-mail-logo" class="us-layout-secure-mail-logo">
	    	<img id="us-cert-manage-logo-img">
	    </div>
	    <div id="us-div-secure-mail-content" class="us-layout-secure-mail-content">
	    </div>
	    <div id="us-div-secure-mail-input" class="us-div-secure-mail-input">
    		<div id="us-div-secure-mail-input-lock" class="us-div-secure-mail-input-lock">
    			<img class="us-layout-secure-mail-lock-img" id="us-secure-mail-lock-img">
    		</div>
    		<div id="us-div-secure-mail-input-contain" class="us-div-secure-mail-input-contain">
    			<div id="us-div-secure-mail-input-lbl" class="us-div-secure-mail-input-lbl"> </div>
    			<div><input type="password" id="us-input-secure-mail-password" class="password"></div>
    		</div>
    	</div>
    	<div class="clear"> </div>
	    <div id="us-div-secure-mail-btn" class="us-layout-secure-mail-btns">
	    	<div class="us-layout-view-btn">
    			<input class="us-layout-secure-mail-btn" id="us-secure-mail-confirm-btn" type="button">
    			<span class="spacer"> </span>
    			<input class="us-layout-secure-mail-btn" id="us-secure-mail-cancel-btn" type="button">
    		</div>
	    </div>
	</div>
</div>