<div id="us-div-ssn" class="us-layout-ssn" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-ssn-title" class="us-layer-title">
        <p id="us-ssn-lbl-title" class="us-layer-lbl-title"></p>
    </div> 
	<div class="us-layer-body">
	    <div class="us-layout-ssn-input">
        	<dl>
            	<dt><span id="us-ssn-input-text" class="us-layout-ssn-input-text" for="us-ssn-input-textbox"></span></dt>
                <dd>
                	<form id="us-keyboard-secure-frm" name="us-keyboard-secure-frm" method="post" onsubmit="return false">
                		<input id="us-ssn-input-textbox" name="us-ssn-input" class="us-layout-ssn-input-textbox" type="password" autocomplete="off" data-enc="on" e2e_type="11"/>
                	</form>
                </dd>
			</dl>        
	    </div>
	    <div class="us-layout-ssn-notice">
	    	<div id="us-ssn-notice-text" class="us-layout-ssn-notice-text"></div>
	    </div>              
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-ssn-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-ssn-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>            
	</div>
    <button id="us-ssn-cls-btn" class="us-layer-cls-btn" type="button"><img id="us-ssn-cls-btn-img" /></button>    
</div>