<div id="us-div-sw-info" class="us-layout-sw-info" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-sw-info-title" class="us-layer-title">
        <p id="us-sw-info-lbl-title" class="us-layer-lbl-title"></p>
    </div>   
    <div class="us-layer-body">
	    <p id="us-sw-info-lbl" class="us-layout-sw-info-noti-lbl"></p>
        <div class="us-layer-btns"><input id="us-sw-info-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></div>        
	</div>
    <button id="us-sw-info-cls-img-btn" class="us-layer-cls-btn" type="button"><img id="us-sw-info-cls-btn-img" /></button>    
</div>
