.course li ul li.subject a.title {
    cursor: pointer;
}

#viewer-content {
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-overflow-style: none;
    z-index: 1;
}

.popup.tools {
    background-color: #00cbb4;
    height: 30px;
    padding: 0;
    margin: 0;
    display: none;
}

.popup.tools a.close {
    float: right;
    padding: 0;
    background-image: url(icon-tool-delete.png);
    background-size: auto 20px;
    background-position: center;
    width: 20px;
    height: 20px;
    margin: 5px;
    opacity: 1 !important;
    cursor: pointer;
}

#viewer-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#iframe_content_pairbook {
    position: absolute;
    border: none;
    display: none;
    margin: 0;
    padding: 0;
}

#iframe_content {
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;
}

#iframe_tools {
    position: absolute;
    border: none;
    display: none;
    margin: 0;
    padding: 0;
}

.course:before {
    bottom: 14px;
}

#tool-study [class^=icon-tool-study] {
    font-size: 12px;
    color: white;
    text-indent: 0;
    width: auto;
    height: 40px;
    background-image: none;
    /* border-right-color: white;
border-right-width: 1px;
border-right-style: solid; */
}

#tool-study ul li::after {
    content: '';
    height: 40px;
    font-size: 0px;
    padding-top: 12px;
    margin-right: 2px;
    background-image: none;
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
}

#tool-study ul li:last-child::after {
    border-right-style: none;
}

/* #viewer-wrap.full-content {
padding-right: 15px;
} */

/* #viewer-aside .toggle-aside {
float: left;
position: absolute;
top: 50%;
margin-top: -15px;
width: 0px;
height: 0px;
border-top: 15px solid transparent;
border-left: 15px solid #61d3a9;
border-bottom: 15px solid transparent;
border-right: none;
cursor: pointer;
z-index: 100;
}

#viewer-wrap.full-content {
padding-right: 15px;
}
#viewer-wrap.full-content .toggle-aside{

border-left: none;
border-top: 15px solid transparent;
border-right: 15px solid #61d3a9;
border-bottom: 15px solid transparent;
}

#viewer-wrap.full-content #viewer-aside {
width: 15px;
} */

/* body[theme='theme-dark'] */

body[theme='theme-dark'] #viewer-aside-inner::-webkit-scrollbar-thumb {
    background-color: #898c8b;
    border-radius: 2px;
    border: 2px solid transparent
}

body[theme='theme-dark'] #viewer-aside-inner::-webkit-scrollbar-track {
    border-color: #dbedfb;
    border-width: 2px;
    border-radius: 0px;
    box-shadow: inset 0px 0px 2px #dbedfb
}

body[theme='theme-dark'] #viewer-aside {
    background-color: #505654;
}

body[theme='theme-dark'] #viewer-aside-inner {
    padding-top: 0px;
}

body[theme='theme-dark'] #page_list {
    margin-bottom: 36px;
}

body[theme='theme-dark'] .no-toc-area {
    /* background-color: #3e3e3e; */
    /* background-color: #414141; */
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
}

body[theme='theme-dark'] .no-toc-area .course-file {
    margin-left: 0px;
    /* padding-left: 36px;
    padding-top: 24px;
    padding-bottom: 24px; */
    margin-bottom: 0px;
    /* border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #00cbb4; */
}

body[theme='theme-dark'] .no-toc-area .course-file .widget-title {
    margin-left: 36px;
    margin-top: 36px;
}

body[theme='theme-dark'] .no-toc-area .course-file ul.row {
    margin-left: 36px;
    padding-bottom: 24px;
}

/* body[theme='theme-dark'] .no-toc-area .course-file::before {
    content: '';
    position: absolute;
    left: 24px;
    margin-top: -1px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #515654;
}
body[theme='theme-dark'] .no-toc-area .course-file::after {
    content: '';
    position: absolute;
    left: 24px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #00cbb4;
} */

body[theme='theme-dark'] .no-toc-area .course-file-special {
    background-color: #3a4441;
    background-image: url(course-file-special.png);
    background-repeat: no-repeat;
    background-size: 100% 11%;
    background-position-x: -10px;
}

body[theme='theme-dark'] .no-toc-area .course-file-common {
    background-color: #313a38;
    background-image: url(course-file-common.png);
    background-repeat: no-repeat;
    background-size: 100% 9%;
    background-position-x: -10px;
}

body[theme='theme-dark'] .no-toc-area .course-file::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 4px;
    background-color: #3a4441;
}

body[theme='theme-dark'] .no-toc-area .course-file.course-file-common::before {
    background-color: #313a38;
}

body[theme='theme-dark'] .course-btm {
    background-color: #4b4a4a;
}

body[theme='theme-dark'] .icon-aside-open-txt {
    background-color: #4b4a4a;
    bottom: 0px;
    height: 52px;
}

body[theme='theme-dark'] .icon-aside-open-txt .icon-aside-opened {
    height: 31px;
    margin-top: 10px;
}

body[theme='theme-dark'] #course_name {
    /* color: #f7f7f7;
    margin-left: 0;
    width: 100%;
    padding: 14px;
    font-size: 20px;
    margin-bottom: 36px;
    text-align: center; */
    color: #f7f7f7;
    margin-left: 10px;
    width: 370px;
    padding: 14px;
    font-size: 20px;
    padding-bottom: 26px;
    text-align: left;
    padding-left: 0px;
}

body[theme='theme-dark'] .no-toc-area .subtitle {
    margin-left: 0px;
    padding: 14px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 24px;
    text-align: center;
    /* text-align: justify;
    padding-left: 32px; */
    background-color: #926dde;
}

body[theme='theme-dark'] .course a {
    color: #f7f7f7;
    font-weight: normal;
}

body[theme='theme-dark'] .course strong, body[theme='theme-dark'] .course-file strong {
    color: #f7f7f7;
}

body[theme='theme-dark'] .course a:hover {
    color: #00cbb4;
}

body[theme='theme-dark'] .course a:hover strong {
    color: #00cbb4;
}

body[theme='theme-dark'] .course .active>a {
    color: #00cbb4;
    font-weight: normal;
}

body[theme='theme-dark'] .course .active>a>strong {
    color: #00cbb4;
}

body[theme='theme-dark'] .course-file .row li a {
    /* color: #bbbbbb; */
    color: #f7f7f7;
    font-weight: normal;
}

body[theme='theme-dark'] .course-file h3 {
    color: #f7f7f7;
    /* color: #00cbb4;
    background-color: transparent;
    font-size: 20px; */
}

body[theme='theme-dark'] .bg-pink, body[theme='theme-dark'] .bg-sky, body[theme='theme-dark'] .bg-purple, body[theme='theme-dark'] .ft-purple, body[theme='theme-dark'] .bg-peach {
    color: #f7f7f7 !important;
}

body[theme='theme-dark'] .btn-pink:hover, body[theme='theme-dark'] .btn-sky:hover, body[theme='theme-dark'] .btn-purple:hover, body[theme='theme-dark'] .btn-peach:hover {
    background-color: transparent
}

body[theme='theme-dark'] #viewer-aside, body[theme='theme-dark'] .no-toc-area, body[theme='theme-dark'] .course-btm {
    box-shadow: none;
}

/* body[theme='theme-dark'] .no-toc-area.folded {
    height: 52px;
    padding-top: 0px;
    overflow-y: hidden;
    background-color: transparent;
    box-shadow: none;
}
body[theme='theme-dark'] .no-toc-area.folded .subtitle {
    margin-left: 0px;
    width: 100%;
} */

body[theme='theme-dark'] [class^=icon-link] {
    background-size: 60% auto;
    background-image: url("icon-link2.png")
}

body[theme='theme-dark'] .icon-link-video {
    background-image: url("icon-link-video2.png")
}

body[theme='theme-dark'] .icon-link-pic {
    background-image: url("icon-link-pic2.png")
}

/* body[theme='theme-dark'] .icon-link-sm{background-image:url("../img/viewer/theme-dark/icon-link-sm.png")}
body[theme='theme-dark'] .icon-link-pink-sm{background-image:url("../img/viewer/theme-dark/icon-link-pink-sm.png")} */

body[theme='theme-dark'] [class^=icon-tool-account] {
    background-size: 50% auto;
}