@charset "UTF-8";
@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Outfit:wght@100..900&display=swap");

:root {
    --vh:var(--vh);
}

.txt-hidden {width: 0;  height: 0; font-size: 0; line-height: 0; text-indent: -9999px; position: absolute; left: -9999px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0);}

html,
body {position:fixed; overflow:hidden;}

#wrap {}

#header {position:fixed; left:0; top:0; width:100%;}
.header-inner {height:64px; display:flex; align-items:center; justify-content: space-between; background-color:#404040; }
.header-inner .header-title {padding-left: 20px; white-space: nowrap; font-size: 18px; text-overflow: ellipsis; color: #fff; overflow: hidden; font-weight: 500;}

#container {padding-top:64px;}
#container.bg-default {background:url(../images/common/bg-default@2x.png) top center no-repeat; background-size:cover;}

#contents {}
#contents .btm-study-area {min-width:40px; position:fixed; right:16px; bottom:76px;}
#contents .btm-study-area .layer-study-info {width:max-content; max-width:136px; padding:12px 0; display:none; position:absolute; right:0; bottom:50px; border-radius:4px; border:1px solid #ddd; box-shadow: 0px 3px 6px 0px #0000000F; background-color: rgba(255, 255, 255, 0.8); backdrop-filter: blur(8px); -webkit-backdrop-filter: blur(8px); z-index:1;}
#contents .btm-study-area.active .layer-study-info {display:block;}

#contents .btm-study-area .layer-study-info .info-page-num,
#contents .btm-study-area .layer-study-info .info-page-text {text-align:right; font-size:14px; color:#000; line-height:20px;}
#contents .btm-study-area .layer-study-info .info-page-num {padding:0 12px;}
#contents .btm-study-area .layer-study-info .info-page-text {padding:8px 12px 0; margin-top:8px; border-top:1px solid #F2F2F2;}

.viewer-contents {width:100vw; height:calc(100vh - 124px); height:calc(var(--vh, 1vh) * 100 - 124px); position:relative; /*overflow-y:auto; overscroll-behavior: auto;*/}
.viewer-contents iframe {border:0;}

#contents.is-document .viewer-contents {height:calc(var(--vh, 1vh) * 100 - 174px);}
.viewer-document-area {width:100vw; height:50px; padding:0 20px; display:flex; align-items: center; justify-content: center; background-color:#E9EDF3;}
.viewer-document-area .viewer-document-title {font-size:16px; font-weight:500; letter-spacing:-0.22px; color:#000000; white-space: nowrap; text-overflow: ellipsis; overflow:hidden;}

.viewer-flex-box {margin-top:70px; text-align:center;}
.viewer-flex-box .viewer-flex-box-inner {width:235px; height:147px; position:relative; display:flex; flex-direction: column; align-items: center; justify-content: center; margin:0 auto; box-shadow: 3px 3px 18px #00000014; border: 1px solid #1E51A12F; background-color: #fff;}
.viewer-flex-box .viewer-flex-box-inner i {display:block; background-position:center center; background-repeat:no-repeat; background-size:100%;}
.viewer-flex-box .viewer-flex-box-inner .viewer-inner-text {margin-top:8px; font-size:18px; font-weight:500; color:#2E63B5;}

.icon-viewer-folder {width:56px; height:48px; background-image:url(../images/icon/icon-folder.svg);}
.icon-viewer-link {width:45px; height:40px; background-image:url(../images/icon/icon-viewer-link.svg);}
.icon-viewer-ebook {width:45px; height:38px; background-image:url(../images/icon/icon-viewer-ebook.svg);}
.icon-viewer-mydata {width:35px; height:30px; background-image:url(../images/icon/icon-viewer-mydata.svg);}
.icon-viewer-aiclass {width:124px; height:51px; position:absolute; left:52px; top:57px; background-image:url(../images/icon/aiclass-logo@2x.png);}

.viewer-flex-text {margin-top:24px; font-size:16px; font-weight:500; color:#000;}

.button {position:relative;}
.button i[class*="icon-"] {display:block; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
.button i[class*="icon-"].position-unset {position:static; transform:none;}
.button i[class*="icon-"]:before {content:''; width:100%; height:100%; display:block; background-repeat:no-repeat; background-position:center center; background-size:100%;}

.btn-window-close {width:48px; height:48px; flex-shrink: 0;}

.btm-study-area .btn-study-info {width:40px; height:40px; background-color:#2C8EFF; border-radius:50%;}
.btm-study-area.active .btn-study-info {background-color:#376EC5; }
.btm-study-area .button-group {position:absolute; left:50%; bottom:52px; transform:translateX(-50%); display:flex; flex-direction: column; gap:6px;}
#contents .btm-study-area .btn-study-info[style*="display: none"] + .layer-study-info + .button-group {bottom:0;}

.btn-study-list,
.btn-answer-check,
.btn-answer-retry,
.btn-download,
.btn-new-window {width:60px; height:60px; display:flex; align-items: center; flex-direction: column; justify-content: center; border-style:solid; border-color:#ddd; flex-shrink: 0;}
.active.btn-study-list,
.active.btn-answer-check,
.active.btn-answer-retry,
.active.btn-download,
.active.btn-new-window {background-color:#1E51A1;}
.btn-study-list span,
.btn-answer-check span,
.btn-answer-retry span,
.btn-download span,
.btn-new-window span {margin-top:4px; font-size:13px; color:#000; display:block; line-height:19px;}
.active.btn-study-list span,
.active.btn-answer-check span,
.active.btn-answer-retry span,
.active.btn-download span,
.active.btn-new-window span {color:#fff;}

.btn-study-list {border-right-width:1px;}
.btn-page-prev,
.btn-page-next {width:32px; min-width:32px; height:32px; background-color:#F1F1F166; border:1px solid #E5E5E5; border-radius:50%;}
.btn-page-prev:disabled,
.btn-page-next:disabled {opacity:0.5}
.btn-answer-check {border-left-width:1px;}
.btn-answer-retry {border-left-width:1px;}

.icon-window-close {width:16px; height:16px;}
.icon-window-close:before {background-image:url(../images/icon/icon-close.svg);}
.icon-study-info {width:17px; height:15px;}
.icon-study-info:before {background-image:url(../images/icon/icon-ebook.svg);}
.icon-study-list {width:14px; height:15px;}
.icon-study-list:before {background-image:url(../images/icon/icon-list.svg);}
.active .icon-study-list:before {background-image:url(../images/icon/icon-list-active.svg)}
.icon-answer-check {width:16px; height:15.5px;}
.icon-answer-check:before {background-image:url(../images/icon/icon-check.svg)}
.active .icon-answer-check:before {background-image:url(../images/icon/icon-check-active.svg)}
.icon-answer-retry {width:15px; height:15.5px;}
.icon-answer-retry:before {background-image:url(../images/icon/icon-check-repeat.svg)}
.active .icon-answer-retry:before {background-image:url(../images/icon/icon-check-repeat-active.svg)}
.icon-download {width:16px; height:16px;}
.icon-download:before {background-image:url(../images/icon/icon-download.svg)}
.active .icon-download:before {background-image:url(../images/icon/icon-download-active.svg)}
.icon-new-window {width:16px; height:16px;}
.icon-new-window:before {background-image:url(../images/icon/icon-new-window.svg)}
.active .icon-new-window:before {background-image:url(../images/icon/icon-new-window-active.svg)}
.icon-page-prev {width:7px; height:15px;}
.icon-page-prev:before {background-image:url(../images/icon/icon-arrow-left.svg)}
.active .icon-page-prev:before,
.button:focus .icon-page-prev:before {background-image:url(../images/icon/icon-arrow-left-active.svg)}
.icon-page-next {width:7px; height:15px;}
.icon-page-next:before {background-image:url(../images/icon/icon-arrow-right.svg)}
.active .icon-page-next:before,
.button:focus .icon-page-next:before {background-image:url(../images/icon/icon-arrow-right-active.svg)}
.icon-group-btns {width:32px; height:32px; border:1px solid #00000012; border-radius:50%; background:url(../images/icon/icon-group-btn.svg) #F5F5F5 center center no-repeat; background-size:16px;}

#footer {width:100%; position:fixed; left:0; bottom:0; border-top: 1px solid #F0F0F0; background-color:#fff;}
#footer .footer-inner {display:flex; align-items: center; justify-content: space-between; position:relative;}
#footer .footer-inner .btn-study-list {position:absolute; left:0; top:0;}
#footer .footer-inner.type01 .btn-study-list {position:static;}
#footer .footer-inner .study-control-page {height:60px; display:flex; align-items: center; margin:0 auto;}
#footer .footer-inner .study-control-page {}
#footer .footer-inner .study-control-page .study-paging {margin:0 16px; display:flex; align-items: center;}
#footer .footer-inner.type01 .study-control-page .study-paging {margin:0 8px;}
#footer .footer-inner .study-control-page .study-paging em {margin:0 10px; font-size:12px; font-weight:500; color:#CCCCCC; vertical-align:1px; font-style:normal;}
#footer .footer-inner .study-control-page .study-paging strong {font-size:16px; color:#376EC5; font-weight:700;}
#footer .footer-inner .study-control-page .study-paging span {font-size:16px; color:#000000;}
#footer .footer-inner .right-btns {position:absolute; right:0; top:0; display:flex;}
#footer .footer-inner.type01 .right-btns {position:static; display:flex;}
#footer .footer-inner .right-btns .button {border-left-width:1px;}

.layer-popup {display:none;}
.layer-popup.active {display:block;}
.layer-popup .layer-inner {width:100%; height:100%; position:fixed; left:0; top:0; z-index:1000; background-color:#fff; z-index:1000;}
.layer-popup .layer-body .layer-body-inner {height:100vh; height:calc(var(--vh, 1vh) * 100 - 64px); overflow-y:auto;}

.layer-popup.is-confirm {text-align:center;}
.layer-popup.is-confirm:before {content:''; width:100%; height:100%; position:fixed; left:0; top:0; background-color:rgba(0,0,0,0.7)}
.layer-popup.is-confirm .layer-inner {width: calc(100% - 40px); height: auto; top: 50%; left: 50%; padding:24px; border-radius:12px; transform: translate(-50%, -50%);}
.layer-popup.is-confirm .layer-inner .layer-msg-box {}
.layer-popup.is-confirm .layer-inner .layer-msg-box .icon-confirm-check {width:46px; height:46px; margin:0 auto; display:block; background:url(../images/icon/icon-light-confirm.svg) 0 0 no-repeat; background-size:100%;}
.layer-popup.is-confirm .layer-inner .layer-msg-box .layer-msg-text {margin-top:16px; font-size:14px; color:#000; line-height:20px;}

.layer-popup.is-package .layer-inner {height:calc(100% - 61px); z-index:500;}
.layer-popup.is-package .layer-body .layer-body-inner {height: calc(var(--vh, 1vh)* 100 - 125px);}

.study-item-list {padding:24px 20px; display:flex; flex-wrap:wrap; gap:50px 8px;}
.study-item-list > li {width: calc(100% / 3 - 5.4px);}
.study-item-list > li > button {width:100%;}
.study-item-list > li > button .image-wrap {width:100%; height:0; padding-top:56.25%; position:relative; overflow:hidden; border:2px solid #F0F0F0; background-color:#fff;}
.study-item-list > li > button .image-wrap img {/*width:100%;*/ height:100%; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); object-fit: cover;}
.study-item-list > li > button .item-text {height:20px; display:flex; align-items: center; justify-content: center; background-color:#F0F0F0; font-size:12px; font-weight:500; color:#000;}
.study-item-list > li.active > button .image-wrap {border-color:#376EC5;}
.study-item-list > li.active > button .item-text {background-color:#376EC5; color:#fff;}

.viewer-contents-paging {padding:0 4px; display:flex; align-items: center; position:fixed; left:50%; bottom:71px; transform:translateX(-50%); background-color:rgba(0,0,0,0.5); border-radius:19px;}
.viewer-contents-paging .viewer-contents-prev,
.viewer-contents-paging .viewer-contents-next {width:18px; height:18px; position:relative; border:1px solid rgba(229,229,229,.7); border-radius:50%;}
.viewer-contents-paging .viewer-contents-prev i,
.viewer-contents-paging .viewer-contents-next i {width:4px; height:7.5px; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); background-repeat:no-repeat; background-position:center center;}
.viewer-contents-paging .viewer-contents-prev i {background-image:url(../images/icon/icon-viewer-prev.svg)}
.viewer-contents-paging .viewer-contents-next i {background-image:url(../images/icon/icon-viewer-next.svg)}
.viewer-contents-paging .viewer-num {height:28px; margin:0 10px; display:flex; align-items: center;}
.viewer-contents-paging .viewer-num strong {font-size:13px; font-weight:700; color:#fff;}
.viewer-contents-paging .viewer-num em {margin:0 7px; font-size:12px; color:#fff; font-weight:500;}
.viewer-contents-paging .viewer-num span {font-size:13px; color:rgba(255,255,255,.7)}

.btn-area {margin-top:24px; display:flex; justify-content: space-between; gap:8px;}
.btn-area .button {width:100%; height:40px; border-radius:4px; font-size:14px; color:#fff;}
.btn-area .button.btn-cancel {background-color:#9A9A9A; border:1px solid #858585;}
.btn-area .button.btn-confirm {background-color:#01A39F; border:1px solid #0000001A;}

@media (orientation: landscape) {
    #header {transform:translateY(-100%); }

    #container {padding-top:0;}
    #container.bg-default {background-image:url(../images/common/bg-default@2x-landscape.png);}

    .viewer-contents {height:calc(100vh - 44px); height:calc(var(--vh, 1vh) * 100 - 44px);}
    #contents.is-document .viewer-contents {height:calc(var(--vh, 1vh) * 100 - 94px);}
    .viewer-document-area {padding:0 60px 0 20px;}
    .viewer-contents-paging {bottom:55px;}
    .viewer-flex-box {margin:0; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%)}

    .btm-study-area {bottom:auto; right:12px; top:12px;}
    .btm-study-area .layer-study-info {bottom:auto; top:50px;}
    .btm-study-area .button-group {top:52px; bottom:auto;}
    #contents .btm-study-area .btn-study-info[style*="display: none"] + .layer-study-info + .button-group {bottom:auto; top:0;}

    .btn-study-list,
    .btn-answer-check,
    .btn-answer-retry,
    .btn-download,
    .btn-new-window {width:105px; height:44px; flex-direction: row; gap:8px}
    .btn-study-list span,
    .btn-answer-check span,
    .btn-answer-retry span,
    .btn-download span,
    .btn-new-window span {margin-top:0; line-height:18px;}

    .study-item-list {gap:30px 8px;}
    .study-item-list > li {width: calc(100vw / 5 - 14.4px);}

    #footer .footer-inner .study-control-page {height:44px;}
    #footer .footer-inner.type01 .btn-study-list,
    #footer .footer-inner.type01 .right-btns {position:absolute;}
    #footer .footer-inner.type01 .study-control-page .study-paging {margin:0 16px;}

    .layer-popup.is-confirm .layer-inner {max-width:336px;}
    .layer-popup.is-package .layer-inner {height:calc(100% - 45px);}
    .layer-popup.is-package .layer-body .layer-body-inner {height: calc(var(--vh, 1vh)* 100 - 109px);}
}

@supports (-webkit-touch-callout: none) {
    .viewer-contents-paging .viewer-num {margin-top:-3px;}
    .viewer-contents-paging .viewer-num em {margin-top:2px;}
}